@charset "utf-8";
/* reset */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input , textarea{font-family:"NotoSans"; margin: 0;padding: 0;border: 0;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-word-break: break-all;word-break: break-all;font-size:inherit;color:inherit;}/* 2017-12-18 */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;-webkit-text-size-adjust:none;}/* 뷰표트 변환시 폰트크기 자동확대 방지. */
html, body{height:100%;}
input, textarea, select, button{text-align: inherit;}
.section_center input, .section_center textarea, .section_center select, .section_center button{text-indent:0;}
.section_left input, .section_left textarea, .section_left select, input[type='text'], input[type='password'], input[type='number']{text-indent:22px;}
input:checked[type='checkbox'], input:checked[type='radio']  {-webkit-appearance:none;background-color:transparent;}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'] ,input[type='tel'],input[type='number'], .agree_btn {-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0; font-family: sans-serif;box-shadow:none;}
input[type='search']::-webkit-search-cancel-button, input.tf_checkbox, input.check_opt, textarea.tf_textarea{-webkit-appearance:none;}
dl, ol, ul {list-style: none;}
ul, ol, li{vertical-align:top;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
input,select,textarea,button {vertical-align:middle}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer;}
button[disabled]{cursor:default;}
table {border-collapse: collapse;border-spacing: 0;table-layout: fixed;width:100%;}
address,caption,cite,code,dfn,em,var {font-style:normal;}
a {text-decoration:none;color: inherit;}
a:active, a:hover {text-decoration:none}
img{max-width:100%;}
hr{border: none;}

strong, b, em, span{vertical-align:baseline;}
button, a, input, select, textarea, label, :focus{outline:none;}
/* //reset */

/* global */
#skipNav {position: relative;width: 100%;z-index:101;} /* 스킵네비게이션 */
#skipNav > a{position: absolute;top: -40px;left: 0;height: 40px;padding: 0 20px;border-bottom: 1px solid #3f4243;font-size: 11px;line-height: 40px;background-color: #26292a;color: #fff;letter-spacing: -1px;text-align: center;}
#skipNav > a:active, #skipNav > a:focus{overflow: hidden;top: 0;text-decoration: none;z-index: 100;}
.screen_out {position:absolute;left:0;top:0;line-height:1;color: transparent;opacity:0;word-break: keep-all;z-index:-1;} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {float:left}
.f_r {float:right}
.cl_b {clear:both;width:0;height:0;color:transparent;line-height:0}
.show {display:block !important;opacity:1 !important;}
.hide {display:none !important;opacity:0 !important;}
.clear_g {display:block;overflow:visible;width:auto;clear:both;*zoom:1;}
.clear_g:after {display:block;visibility:hidden;height:0;color:transparent;clear:both;content:''}
.clear_g > li, .clear_g > dt, .clear_g > dd{float: left;display: inline-block;}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}/* 한줄말줄임 */
span.ellipsis{display:inline-block;}
.multiEllipsis2{padding: 0 !important;overflow:hidden;text-overflow:ellipsis;line-height:1.4rem;max-height:2.8rem;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}/* 다중말줄임 */
.multiEllipsis3{padding: 0 !important;overflow:hidden;text-overflow:ellipsis;line-height:1.4rem;max-height:4.2rem;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.multiEllipsis4{padding: 0 !important;overflow:hidden;text-overflow:ellipsis;line-height:1.4rem;max-height:5.6rem;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;}
.non_pd{padding: 0 !important;}
.non_pt{padding-top:0 !important;}
.non_mt{margin-top:0 !important;}
.pos_static{position:static !important;}
.pos_relative{position:relative;}
.noBlank{padding:0 0 0 0 !important;}
.translate50{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);}
legend{padding-bottom:15px;font-size:1.063rem;font-weight:700;}
legend.screen_out{padding-bottom:0;}
.box_link{display:inline-block;position:relative;}
/* //global */


/* 텍스트 */
/* .txt_type{} */
.txt_light{font-weight:400;}
.txt_med{font-weight:700;}
.txt_bold{font-weight:800;}
.txt_defalt{font-size:0.938rem;color:#000;}
.txt_green{color:#008288;}
.txt_darkgreen{color:#004749;}
.txt_red{color:#e5015a;}
.txt_black{color:#000 !important;}
.txt_gray{color:#424242;}
.txt_lightgray{color:#bababa;}
.txt_yellow{color:#ffc000;}
.txt_white{color:#fff;}
.txt_blue{color:#3a75b7;}
.txt_italic{font-style:italic;}
.txt_lineThrough{text-decoration:line-through;}
.txt_underline{text-decoration:underline;}
.fz_18{font-size:18px;}
.fz_16{font-size:16px;}
.fz_14{font-size:14px;}

/* .box_type{} */
.box_bg_green{padding:20px;background-color:#008288;}
.box_link{position:relative;display:block;width:100%;}
.box_round_lightBlue{padding:20px 15px;line-height:1.4;background-color:;-webkit-border-radius:4px;border-radius: 4px;}
.box_round_white{padding:19px 15px;background-color:#fff;-webkit-border-radius:4px;border-radius: 4px;}
.box_center{text-align:center;}
.box_left{text-align:left;}
.box_right{text-align:right;}
.box_padding{padding:98px 70px;}
.box_padding_top{padding:98px 0;}
.box_white{padding:54px 0;background-color:#fff;}

/* list */
.list_bullet_circle{}
.bullet_circle_list{position:relative;padding-left:9px;line-height:1.4;color:#424242;}
.bullet_circle_list::before{content:"";display:block;position:absolute;width:4px;height:4px;-webkit-border-radius:2px;border-radius: 2px;background-color:#424242;left:0;top:10px;}
.bullet_circle_list.bullet_red{color:#e40059;}
.bullet_circle_list.bullet_red::before{background-color:#e40059;}

.fz_18 .bullet_circle_list + .bullet_circle_list{margin-top:37px;}
.fz_14 .bullet_circle_list + .bullet_circle_list{margin-top:15px;}

.wrap{height:100%;min-width:1000px;width:100%;}

#header{position:relative;height:100px;background-color:#fff;border-bottom:1px solid #d8d8d8;padding-top:23px;z-index:1;}
.header{width:1000px;margin:0 auto;position:relative;padding-left:189px;clear:both;}
.header_logo{position:absolute;left:0;right:0;}
.gnb{float:right;}
.gnb_list:first-child{margin-left:-40px;}
.gnb_list .box_link{height:53px;padding:19px 40px 0;font-size:18px;}
.tit_gnb{display:inline-block;width:100%;}
.on .tit_gnb{padding-bottom:3px;border-bottom:1px solid #000;font-weight:700;}

#contents{margin:-100px 0 -128px;min-height:100%;width:100%;}
.contents{padding:100px 0 128px;}
.inner_contents{width:1000px;margin:0 auto;}

#footer{position:relative;padding:40px 0;border-top:1px solid #d8d8d8;background-color:#f0f1f5;z-index:1;} /* 수정 : 2018-08-29 */
.footer{width:1000px;position:relative;margin:0 auto;padding-left:220px;}
.footer_logo{position:absolute;left:0;top:0;}
.footer_copy{padding-top:8px;font-size:14px;}
.footer_copy + .footer_copy{padding-top:10px;}

/* 2018-08-29 : 개인정보취급방침&이용약관 링크 영역 */
.footer_info {color:#000;font-size:17px;}
.footer_info p {display:inline-block;}
.footer_info .agr_link {overflow:hidden;display:inline-block;}
.footer_info .agr_link li {padding:0 12px;float:left;border-left:2px solid #000;}
.footer_info .agr_link li:first-child {padding-left:5px;border-left:none;}
.footer_info .agr_link li a {display:inline-block;font-weight:bold;}

/* 하나멤버스 소개 */
.intro_section01, .intro_section02, .intro_section03, .intro_section04, .intro_section05, .intro_section06{width:100%;min-width:1000px;overflow:hidden;}
[class^="inner_intro_section"]{position:relative;width:1000px; margin:0 auto;}
.intro_txt_big{font-size:56px;line-height:1.4;}
.intro_txt_small{padding-top:40px;line-height:1.8;font-size:18px;color:#424242;}

.intro_section01{height:1084px;background: url(../images/members_pc/bg_intro_section01.png) center 0 no-repeat;}
.inner_intro_section01{padding-top:190px;}
.wrap_phone{width:506px;height:916px;position:absolute;background:transparent url(../images/members_pc/bg_phone.png) 0 0 no-repeat;}

.intro_section01 .wrap_phone{top:169px;right:68px;}
.inner_wrap_phone{position:absolute;left:45px;top:126px;width:400px;height:575px;overflow:hidden;}
.intro_section01_panel, .intro_section01_panel_cir{position:absolute;top:0;width:1208px;height:575px;}
.intro_section01_panel_cir{width:400px;}
.intro_section01_panel_cir .intro_section01_img01, .intro_section01_panel_cir .intro_section01_img02, .intro_section01_panel_cir .intro_section01_img03{position:absolute;top:214px;left:77px;}
.intro_section01_panel_cir .intro_section01_img01{display:block;}
.intro_section01_panel_cir .intro_section01_img02{display:none;}
.intro_section01_panel_cir .intro_section01_img03{display:none;}

.intro_section01_panel_small{width:766px;height:258px;position:absolute;right:-323px;top:522px;overflow:hidden;}
.inner_intro_section01_panel_small{width:766px;position:absolute;right:0;top:0;}

.intro_section02{height:1055px;background:url(../images/members_pc/bg_intro_section02.png) center 0 no-repeat;}
.intro_section02_img01, .intro_section02_img02, .intro_section02_img03, .intro_section02_img04{position:absolute;}
.intro_section02_img01{top:369px;right:8px;}
.intro_section02_img02{top:619px;right:30px;}
.intro_section02_img03{top:142px;right:17px;}
.intro_section02_img04{top:195px;right:-97px;}

.intro_section03{height:984px;background:url(../images/members_pc/bg_intro_section03.png) center 0 no-repeat;}
.inner_intro_section03{}
.intro_section03 .intro_txt_big, .intro_section03 .intro_txt_small{text-align:right;}
.intro_section03_motion{width:570px;position:absolute;left:-80px;top:0;}
.intro_section03_img01, .intro_section03_img02, .intro_section03_img03{position:absolute;}
.intro_section03_img01{}
.intro_section03_img02{}
.intro_section03_img03{}

.intro_section04{height:1111px;background: url(../images/members_pc/bg_intro_section04.png) center 0 no-repeat;}
.inner_intro_section04{}
.intro_section04_motion{margin-top:42px;}
.inner_intro_section04_motion{width:490px;height:515px;margin:0 auto;}
.section04_motion01{position:relative;padding-top:25px;-webkit-filter:drop-shadow(15px 21px 15px rgba(0,0,0,0.3));filter:drop-shadow(15px 21px 15px rgba(0,0,0,0.3));}
.intro_section04_img01{}
.intro_section04_img02, .intro_section04_img03{position:absolute;left:50%;}
.intro_section04_img02{top:0;margin-left:-29px;}
.intro_section04_img03{top:50%;margin:-81px 0 0 -97px;}
.intro_section04_img04, .intro_section04_img05{position:absolute;}
.intro_section04_img04{top:330px;right:-106px;}
.intro_section04_img05{top:380px;right:-36px;}

.intro_section05{height:1245px;background: url(../images/members_pc/bg_intro_section05.png) center 0 no-repeat;}
.inner_intro_section05{padding-top:249px;}
.intro_section05 .wrap_phone{top:151px;right:-5px;}

.intro_section06{height:742px;background: url(../images/members_pc/bg_intro_section06.png) center 0 no-repeat;}
.inner_intro_section06{width:100%;}
.intro_section06 .swiper-container{padding-top:112px;}
.intro_section06 .swiper-slide{height:0;padding-bottom:14.11%;}
[class^="ico_intro_section06_"]{display:inline-block;position:absolute;width:100%;height:0;padding-bottom:103.6%;top:0;left:0;}
.tit_intro_section06_swiper{padding-top:73%;line-height:1.4;text-align:center;font-size:18px;opacity:0.4;}
.on .tit_intro_section06_swiper{padding-top:82%;opacity:1;font-size:26px;font-weight:700;}
.ico_intro_section06_1{background:url(../images/members_pc/intro_section06_motion01.png) center 29px no-repeat;background-size:49% auto;}
.ico_intro_section06_2{background:url(../images/members_pc/intro_section06_motion02.png) center 29px no-repeat;background-size:49% auto;}
.ico_intro_section06_3{background:url(../images/members_pc/intro_section06_motion03.png) center 29px no-repeat;background-size:49% auto;}
.ico_intro_section06_4{background:url(../images/members_pc/intro_section06_motion04.png) center 29px no-repeat;background-size:49% auto;}
.ico_intro_section06_5{background:url(../images/members_pc/intro_section06_motion05.png) center 29px no-repeat;background-size:49% auto;}
.ico_intro_section06_6{background:url(../images/members_pc/intro_section06_motion06.png) center 29px no-repeat;background-size:49% auto;}
.ico_intro_section06_7{background:url(../images/members_pc/intro_section06_motion07.png) center 29px no-repeat;background-size:49% auto;}
.ico_intro_section06_8{background:url(../images/members_pc/intro_section06_motion08.png) center 29px no-repeat;background-size:49% auto;}

.on .ico_intro_section06_1{background:url(../images/members_pc/intro_section06_motion01_on.png) center 0 no-repeat;background-size:100% auto;}
.on .ico_intro_section06_2{background:url(../images/members_pc/intro_section06_motion02_on.png) center 0 no-repeat;background-size:100% auto;}
.on .ico_intro_section06_3{background:url(../images/members_pc/intro_section06_motion03_on.png) center 0 no-repeat;background-size:100% auto;}
.on .ico_intro_section06_4{background:url(../images/members_pc/intro_section06_motion04_on.png) center 0 no-repeat;background-size:100% auto;}
.on .ico_intro_section06_5{background:url(../images/members_pc/intro_section06_motion05_on.png) center 0 no-repeat;background-size:100% auto;}
.on .ico_intro_section06_6{background:url(../images/members_pc/intro_section06_motion06_on.png) center 0 no-repeat;background-size:100% auto;}
.on .ico_intro_section06_7{background:url(../images/members_pc/intro_section06_motion07_on.png) center 0 no-repeat;background-size:100% auto;}
.on .ico_intro_section06_8{background:url(../images/members_pc/intro_section06_motion08_on.png) center 0 no-repeat;background-size:100% auto;}

/* 2018-08-29 : 앱 다운로드 안내 */
.contents .app_info {position:relative;margin:40px 0;text-align:center;}

.tit_page{padding-bottom:44px;text-align:center;font-weight:800;color:#008288;font-size:56px;}
.explain_tit{padding-bottom:40px;font-size:26px;}
.tit_box_contents{padding-bottom:54px;font-weight:700;font-size:26px;}
.list_dash{}
.dash_list{margin-top:22px;font-size:18px;}
.dash_list:first-child{margin-top:0;}

.btn_round{width:362px;height:70px;-webkit-border-radius: 4px;border-radius: 4px;font-size:18px;}
.ico_download{display:inline-block;width:22px;height:22px;margin-left:10px;vertical-align:middle;background:url(../images/members_pc/ico_download.png) 0 0 no-repeat;}
.ico_check{display:inline-block;width:19px;height:12px;margin-left:10px;vertical-align:middle;background:url(../images/members_pc/ico_check.png) 0 0 no-repeat;}
.ico_exclamation{display:inline-block;width:18px;height:18px;margin-right:12px;vertical-align:middle;background:url(../images/members_pc/ico_exclamation.png) 0 0 no-repeat;font-size:18px;}
.bg_green{background-color:#008288;color:#fff;}
.bg_white{background-color:#fff;}
.bg_gray{background-color:#f0f1f5;}
.box_btn_center{text-align:center;}
.box_btn_center button + button{margin-left:20px;}
.pt40{padding-top:40px;}
.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}
.box_exclamation{padding:30px 0 20px;}

.box_board_cnt{padding-bottom:60px;font-size:18px;}
.wrap_board_list{text-align:left;color:#424242;}
.board_date{text-align:right;}
.wrap_board_list .ellipsis{padding-right:10px;}
.wrap_board_list th{padding-bottom:30px;border-bottom:1px solid #bababa;}
.wrap_board_list tbody td{height:80px;vertical-align:middle;border-bottom:1px solid #d8d8d8;}
.wrap_board_paging{padding-top:56px;text-align:center;}
.btn_paging_prev, .btn_paging_cnt, .btn_paging_next, .btn_paging_prev img, .btn_paging_next img{vertical-align:middle;display:inline-block;}
.btn_paging_prev{margin-right:13px;}
.btn_paging_next{margin-left:13px;}
.btn_paging_cnt{padding:0 13px;font-size:16px;}
.btn_paging_cnt.select{font-weight:800;color:#008288;}
.btn_go{font-size:26px;display:inline-block;}
.ico_btn_go{display:inline-block;width:13px;height:22px;margin-right:14px;vertical-align:middle;background:url(../images/members_pc/ico_btn_go.png) 0 0 no-repeat;}
.wrap_board_view{border-top:1px solid #bababa;border-bottom:1px solid #d8d8d8;}
.wrap_board_view .board_date{color:#424242;}
.board_view_tit{padding:30px 0;border-bottom:1px solid #d8d8d8;line-height:1.4;font-size:20px;}
.tit_board_view{float:left;width:85%;}
.wrap_board_view .board_date{float:right;width:15%;}
.board_veiw_contents{padding:40px 0;min-height:557px;line-height:1.6;font-size:16px;}
.btn_view_prev{font-size:20px;float:left;}
.btn_view_prev img{margin-right:10px;vertical-align:middle;}
.btn_view_next{font-size:20px;float:right;}
.btn_view_next img{margin-left:10px;vertical-align:middle;}
.intro_section01_panel_small{overflow: hidden;}

/* 2019-07-17 모바일, PC 홈페이지 변경 */
.intro_section01_panel img {float:left;}
.intro_section03{padding-top:290px;height:1107px;background:#f0f1f5;}
.intro_section03 .intro_txt_big, .intro_section03 .intro_txt_small {text-align:left;}
.intro_section03_motion{left:initial;top:-70px;right:-200px;}
.intro_section04{padding-top:200px;height:1099px;background: url(../images/members_pc/bg_intro_section04_20190717.png) center 0 no-repeat;}
.intro_section05{padding-top:420px;height:1433px;background: url(../images/members_pc/bg_intro_section05_20190717.png) center 0 no-repeat;}
.inner_intro_section05{padding-top:0;}
.intro_section05 .wrap_phone{top:-100px;}
.intro_section06{padding-top:320px;height:1085px;background:#f0f1f5;}
.ico_intro_section06_6{background-image:url(../images/members_pc/intro_section06_motion06_20190717.png);}
.ico_intro_section06_9{background:url(../images/members_pc/intro_section06_motion09.png) center 29px no-repeat;background-size:49% auto;}
.ico_intro_section06_10{background:url(../images/members_pc/intro_section06_motion10.png) center 29px no-repeat;background-size:49% auto;}
.on .ico_intro_section06_6{background-image:url(../images/members_pc/intro_section06_motion06_on_20190717.png);}
.on .ico_intro_section06_9{background:url(../images/members_pc/intro_section06_motion09_on.png) center 0 no-repeat;background-size:100% auto;}
.on .ico_intro_section06_10{background:url(../images/members_pc/intro_section06_motion10_on.png) center 0 no-repeat;background-size:100% auto;}
.intro_section07{height:750px;background:url(../images/members_pc/bg_intro_section07.png) center 0 no-repeat;}
.intro_section07 .intro_txt_small{float:right;}
.intro_section07 .intro_txt_big {text-align:right;}
.intro_section07_motion{width:570px;position:absolute;left:50px;top:0;}
.intro_section07_img01, .intro_section07_img02, .intro_section07_img03{position:absolute;}
.intro_section08{padding-top:440px;height:1467px;background:url(../images/members_pc/bg_intro_section08.png) center 0 no-repeat;}
.inner_intro_section08{padding-top:0;}
.intro_section08 .wrap_phone{top:0;left:0;}
.intro_section08 .intro_txt_big {text-align:right;}
.intro_section08 .intro_txt_small{float:right;}