@charset "utf-8";
@font-face {
	font-family:"NotoSans";
	src: url(/WebContent/resources/freyja/font/NotoSans-DemiLight.woff) format('woff'),
	  url(/WebContent/resources/freyja/font/NotoSans-DemiLight.otf) format('truetype');
font-style:normal;
font-weight:400;
}

@font-face {
 font-family:"NotoSans";
 src: url(/WebContent/resources/freyja/font/NotoSans-Medium.woff) format('woff'),
	  url(/WebContent/resources/freyja/font/NotoSans-Medium.otf) format('truetype');
font-style:normal;
font-weight:700;
}

@font-face {
 font-family:"NotoSans";
 src: url(/WebContent/resources/freyja/font/NotoSans-Bold.woff) format('woff'),
	  url(/WebContent/resources/freyja/font/NotoSans-Bold.otf) format('truetype');
font-style:normal;
font-weight:800;
}