@charset "utf-8";
/* [Font] */
@font-face {
  font-family: 'Spoqa';
  font-style: normal;
  font-weight: 300;
  src: url(../../gw/font/hmui/SpoqaHanSansNeo-Light.woff2) format("woff2"), url(../../gw/font/hmui/NSpoqaHanSansNeo-Light.woff) format("woff"), url(../../gw/font/hmui/SpoqaHanSansNeo-Light.otf) format("opentype");
}
@font-face {
  font-family: 'Spoqa';
  font-style: normal;
  font-weight: 400;
  src: url(../../gw/font/hmui/SpoqaHanSansNeo-Regular.woff2) format("woff2"), url(../../gw/font/hmui/SpoqaHanSansNeo-Regular.woff) format("woff"), url(../../gw/font/hmui/SpoqaHanSansNeo-Regular.otf) format("opentype");
}
@font-face {
  font-family: 'Spoqa';
  font-style: normal;
  font-weight: 700;
  src: url(../../gw/font/hmui/SpoqaHanSansNeo-Bold.woff2) format("woff2"), url(../../gw/font/hmui/SpoqaHanSansNeo-Bold.woff) format("woff"), url(../../gw/font/hmui/SpoqaHanSansNeo-Bold.otf) format("opentype");
}

/* [Reset] */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input , textarea{
	font-family: 'Spoqa';
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-word-break: break-all;
	word-break: break-all;
	font-size: inherit;
	color: inherit;
}

/* [Layout] */
:root {
	--safeTop: env(safe-area-inset-top);
  --safeRight: env(safe-area-inset-right);
  --safeBottom: env(safe-area-inset-bottom);
  --safeLeft: env(safe-area-inset-left);
  --headerH: $sizing-header-height;
  --filterH: 38;
}
:root.AOS {
  --safeTop: 30px;
  --safeBottom: 16px;
}
.asisRenewal .screen_out {
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	vertical-align: middle;
}
.asisRenewal .head_popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: calc(var(--safeTop) + 3.125rem);
	padding: var(--safeTop) 2.875rem 0 1.5rem;
	background-color: transparent;
}
.asisRenewal .head_popup.scrolled::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E5EDEF;
}
.asisRenewal .head_popup.scrolled::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .asisRenewal .head_popup.scrolled::after {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
.asisRenewal .head_popup .tit_popup {
	height: auto;
	padding: 0;
	line-height: 3.125rem;
	color: #252E33;
	font-size: 1.125rem;
	text-align: left;
}
.asisRenewal .popup_viewEvent .btn_popupClose {
	top: calc(var(--safeTop));
	right: 0;
	width: 3.125rem;
	height: 3.125rem;
	font-size: 0;
	text-align: right;
}
.asisRenewal .popup_viewEvent .btn_popupClose .ico_sp_popupClose {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 1.375rem 0 0;
	background: none;
	background-color: #252E33;
  -webkit-mask: url("../../gw/images/hmui/btn_ico_close.svg") no-repeat center;
  mask: url("../../gw/images/hmui/btn_ico_close.svg") no-repeat center;
	font-size: 0;
}
.asisRenewal .popup_viewEvent .popup_inner > .box_vertical_middleTop.section_bp20 {
	padding-bottom: 0;
}
.asisRenewal .popup_viewEvent .content_popup {
	padding-top: calc(var(--safeTop) + 3.125rem);
}
.asisRenewal .popup_viewEvent.hasFixedBtn .content_popup {
	padding-bottom: calc(5.25rem + 1rem + var(--safeBottom));
}
.asisRenewal .popup_viewEvent .page_footer {
	height: auto;
}
.asisRenewal .page_footer_fix {
	height: auto;
	padding: 1rem 1.5rem calc(var(--safeBottom) + 1rem);
	background-color: transparent !important;
}
.asisRenewal .page_footer_fix::before,
.asisRenewal .page_footer_fix::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
}
.asisRenewal .page_footer_fix::before {
  bottom: var(--safeBottom);
  height: 8.4rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 23.59%, #FFFFFF 55.75%);
}
.asisRenewal .page_footer_fix::after {
  bottom: 0;
  height: var(--safeBottom);
  background-color: #fff;
}
.asisRenewal .page_footer_fix button,
.asisRenewal .page_footer_fix a {
	height: 3.25rem;
	border-radius: 0.5rem;
	background: linear-gradient(90.18deg, #3F99CB 3.49%, #47DCC1 100%);
	box-shadow: 0px 4px 16px rgba(68, 192, 198, 0.6);
	font-size: 1.125rem;
}
