@charset "utf-8";

/* [PEX] - 포인트전환 */
/* PEX_101 하나머니로 */
.section_tab.scrolled + .section_top_info.pex_hanamoney {
  margin-top: 5.4rem;
}
.section_top_info.pex_hanamoney {
  background: linear-gradient(143.05deg, #5CE4C9 -84.85%, #FFE9DD 132.52%);
}
.section_top_info.pex_hanamoney.type_nopoint,
.section_top_info.pex_hanamoney.bg_bluegrey {
  background: #F2F6F6;
}
.section_top_info.pex_hanamoney.type_nopoint .total_amount::after {
  content: '';
  display: block;
  width: 7.2rem;
  height: 7.2rem;
  margin: 1.0rem auto 0;
  background: url('../../images/hmui/bg_empty.png') no-repeat 50%;
  background-size: 100%;
}
.section_top_info.pex_hanamoney .wrap_tit {
  padding: 0;
}
.section_top_info.pex_hanamoney .wrap_tit .tit_sub {
  font-weight: 300;
}
.section_list_point {
  position: relative;
  padding-top: 1.6rem;
}
.section_list_point .tooltip_bubble {
  top: -3.4rem;
}
.section_list_point .msg_noresult::before {
  margin-top: 4.6rem;
}
.pex_list li {
  position: relative;
  border-bottom: 1px solid #E3EBEE;
}
.pex_list .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.0rem 0;
}
.pex_list .box .justify_left {
  flex: 1;
  position: relative;
  padding: 0 1.0rem 0 4.0rem;
  text-align: left;
}
.pex_list .box .justify_right {
  text-align: right;
}
.pex_list .box .ico_logo {
  position: absolute;
  left: 0;
  top: 50%;
  width: 3.0rem;
  height: 3.0rem;
  border-radius: 50%;
  transform: translateY(-50%);
}
.pex_list .box .tit {
  font-size: 1.8rem;
  line-height: 2.4rem;
  word-break: break-all;
}
.pex_list .box .txt {
  color: #849594;
  font-size: 1.4rem;
  line-height: 2.0rem;
}
.pex_list .box .ico_arr_link {
  margin-left: 0.6rem;
  vertical-align: top;
}
.pex_list .box .txt_num {
  font-size: 1.6rem;
  line-height: 2.0rem;
}
.pex_list .box .txt_sub {
  margin-top: 0;
  margin-bottom: 0.3rem;
  color: #849594;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.pex_list .box .txt_sub:last-child {
  margin-top: 0.3rem;
  margin-bottom: 0;
}
.pex_list li.new .ico_logo::after {
  content: '';
  display: block;
  position: absolute;
  top: -0.1rem;
  right: -0.1rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  background: #FF5833;
  box-shadow: 0px 4px 4px rgba(147, 54, 34, 0.3);
}
.pex_list .box .txt_info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.3rem 0.4rem 0 0;
  color: #6E7D85;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.pex_list .box .txt_info .logo_hanamoney_s {
  margin-right: 0.4rem;
}
.pex_list .box .txt_info .ico_arr_r_2 {
  margin: 0 0.5rem;
}
.pex_list div.box .txt_info {
  display: block;
  padding: 0.3rem 0 0;
  color: #849594;
  font-size: 1.4rem;
  line-height: 2.0rem;
}
.pex_list .box.type_err .txt_num {
  color: #849594;
}
.pex_list .box.type_err .txt_info {
  color: #ec4361;
}
.pex_list .box.type_positive .txt_info {
  color: #00928f;
}
.wrap_pex_logo {
  margin-top: 6.0rem;
  font-size: 0;
  text-align: center;
}
.wrap_pex_logo .ico_logo {
  display: inline-block;
  width: 10.0rem;
  height: 10.0rem;
}
.wrap_pex_logo .logo_hanamoney_pex:last-child,
.wrap_pex_logo .ico_logo:last-child {
  margin-left: -1.2rem;
}
.wrap_pex_logo .logo_hanamoney_pex::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -2.8rem;
  bottom: -0.4rem;
  width: 6.0rem;
  height: 3.1rem;
  background: url('../../images/change/img_coin.png') no-repeat center;
  background-size: 100%;
}
.wrap_pex_logo .logo_hanamoney_pex:first-child::after {
  right: auto;
  left: -2.8rem;
  transform: scaleX(-1);
}
.logo_hanamoney_pex {
  position: relative;
  display: inline-block;
  width: 10.0rem;
  height: 10.0rem;
  background: url('../../images/change/logo_pex_hanamoney.png') no-repeat 50%;
  background-size: 100%;
}

/* PEX_104 하나머니로 전환완료 */
.section_pex_result {
  margin-top: auto;
  padding: 0;
}
.section_pex_result > div {
  margin-top: 5.0rem;
  padding: 2.4rem 2.4rem 6.0rem;
  background: linear-gradient(143.05deg, #5CE4C9 -84.85%, #FFE9DD 132.52%);
}
.content_layer .section_pex_result .wrap_box:first-child {
  margin-top: 0;
  padding: 3.0rem 2.4rem 2.4rem;
}
.section_pex_result .pex_list {
  margin-top: 1.0rem;
}
.section_pex_result li:last-child {
  border-bottom: 0;
}

/* PEX_302 마일리지로 */
.wrap_pex_spinner {
  margin: 4.0rem 2.4rem 0;
  padding-bottom: 3.0rem;
}
.wrap_pex_spinner .head_pex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.4rem;
}
.wrap_pex_spinner .head_pex .tit {
  color: #252E33;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.wrap_pex_spinner .head_pex .txt_info {
  font-size: 0;
}
.wrap_pex_spinner .head_pex .txt_info .txt_num,
.wrap_pex_spinner .head_pex .txt_info .txt_num + span {
  display: inline-block;
  color: #6E7D85;
  font-size: 1.5rem;
  line-height: 2.0rem;
}
.wrap_pex_spinner .head_pex .txt_info .txt_num + span {
  margin: 0 0.6rem;
}
.wrap_pex_spinner .head_pex .pex_info .txt_num em {
  display: inline-block;
}
.wrap_pex_spinner .head_pex .txt_info .ico_logo,
.wrap_pex_spinner .head_pex .txt_info .logo_hanamoney_s {
  display: inline-block;
  width: 2.0rem;
  height: 2.0rem;
  margin-right: 0.4rem;
  vertical-align: top;
}
.wrap_pex_spinner .num_spinner {
  margin-top: 1.2rem;
  padding-bottom: 2.0rem;
}
.wrap_pex_spinner .wrap_box .pex_info {
  margin-top: 1.0rem;
  padding: 1.8rem 0 1.3rem;
  border-radius: 1.2rem;
  background-color: #fff;
  text-align: center;
}
.wrap_pex_spinner .wrap_box .pex_info .tit {
  color: #000;
  font-size: 1.4rem;
  line-height: 2.0rem;
  font-weight: 300;
  vertical-align: middle;
}
.wrap_pex_spinner .wrap_box .pex_info .logo_hanamoney_s {
  width: 2.0rem;
  height: 2.0rem;
  margin: 0 0.4rem 0 1.0rem;
  vertical-align: middle;
}
.wrap_pex_spinner .wrap_box .pex_info .txt_num {
  display: inline-block;
  color: #6E7D85;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
  vertical-align: middle;
}

/* PEX_001 포인트전환 가이드 */
.head_guide_pex {
  padding: 3.2rem 1.2rem 1.6rem;
  border-radius: 1.4rem 1.4rem 0 0;
  background-color: #252E33;
  text-align: center;
}
.head_guide_pex .tit {
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.0rem;
}
.guide_pex_indicator {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.0rem;
}
.guide_pex_indicator button {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  border-radius: 1.9rem;
  color: #AEBABB;
  font-size: 1.4rem;
  line-height: 2.0rem;
  text-align: center;
}
.guide_pex_indicator button.on {
  background-color: #13c9be;
  color: #fff;
  font-weight: 700;
}
.guide_pex_swiper {
  height: calc(80vh - 16.4rem);
  max-height: 29.7rem;
}
.guide_pex_banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 3.0rem 0;
  background: url('../../images/change/visual_pex_1.png') no-repeat 50% 8.2rem;
  background-size: 100% auto;
  text-align: center;
}
.guide_pex_banner .tit {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #6E7D85;
}
.guide_pex_banner .txt {
  font-size: 1.6rem;
  list-style: 2.2rem;
  font-weight: 700;
}
.guide_pex_banner.hanamoney {
  
}
.guide_pex_banner.point {
  
}
.guide_pex_banner.mileage {
  
}

@supports ((-webkit-filter:none) or (filter:none)) {
  
}
@supports ((-webkit-backdrop-filter:none) or (backdrop-filter:none)) {
  
}