@charset "utf-8";
/* common */
.height_60p{height:60px;}

/* money */
.money_useResult{border-bottom:1px solid #bababa; margin:-15px 0 15px;}
.money_useResult .section_pvph15 {line-height:1.4;}
/* //money */

/* diamond */
.blink_icon{display: block; }
.blink{display:inline-block;}
.blink.center, .blink.left_middle , .blink.right_middle, .blink.left_side , .blink.right_side{position:absolute;background-size: 100% 100%;-webkit-filter:drop-shadow(0 2px 1px rgba(0,0,0,0.2));filter:drop-shadow(0 2px 1px rgba(0,0,0,0.2));background-color:transparent;}
.blink.center{left:30px; width: 26px; height: 31px; background-image: url(../images/ico/ico_blink_big.gif); z-index: 2;}
.blink.left_middle , .blink.right_middle{width: 21px; height: 25px; top: 5px; background-image: url(../images/ico/ico_blink_middle.gif); z-index: 1;}
.blink.left_middle{left:12px;}
.blink.right_middle{right:12px;}
.blink.left_side , .blink.right_side{width: 17px; height: 21px; top: 8px; background-image: url(../images/ico/ico_blink_small.gif);}
.blink.left_side{left:0;}
.blink.right_side{right:0;}
[data-roll="diamond"] .box_diamondTop{position:relative;max-height: 175px;background: url(../images/diamond/bg_tit_diamond.png) no-repeat 0 0; background-size: 360px auto; background-position: center center;}
[data-roll="diamond"] .diamondTop{background: url(../images/diamond/bg_tit_diamond_2.png) repeat-x 0 0;background-size:auto 175px;}

[data-roll="diamond"] .box_diamondTop .blink.center{}
/* //diamond */

/* roulette */
.box_bp15{padding-bottom: 15px;}
.box_pv1540{padding-top: 15px; padding-bottom: 40px;}
.box_txtfz_14 ~ .wrap_tfTextarea{padding-top: 0;}
/* //roulette */

/* change */
.ico_enrich{width:91.3px;height:92.7px;background:url(../images/ico/ico_enrich.png) 0 0 no-repeat;background-size:100% 100%;margin-bottom:18px;}
    /* 0203.html */
.fz_16{font-size: 1.000rem;}
.bdt_baba{border-top: 1px solid #bababa;}
    /* 0216_2.html */
.section_pv50{padding-top: 50px; padding-bottom: 50px;}

    /* 0252.html */
.section_pv104{padding-top: 104px; padding-bottom: 104px;}
.ico_Lpoint{width:91.3px;height:92.7px;background:url(../images/ico/ico_Lpoint.png) 0 0 no-repeat;background-size:100% 100%;margin-bottom:18px;}
/* //change */

/* attendance */
    /* swiper */
.check_point{}
.check_point .point_list{position: relative; padding: 0 15px; float: left;}
/* .check_point .point_list:first-child{padding-left: 18px;} */

.box_money_useGuid.fz_20{font-size: 1.25rem; line-height: 1.4;}
.box_txtfz_13{font-size:0.815rem;line-height:1.4;}
.wrap_attendance_topSlide{ width: 100%; text-align: center; overflow-x: scroll;}
.plus_point{position: absolute; left: 50%; top: 3%; transform: translateX(-50%);}
.check_point img{width: 70px; height: 70px;}
.swiper_bt_next, .swiper_bt_prev{ position: absolute; top: 45%; width: 11px; height: 24px; background-size: 11px 24px; background-repeat: no-repeat; z-index: 10; cursor: pointer;}
.swiper_bt_next{background-image: url(../images/attendance/ico_swiper_next_bt.png); right: 0;}
.swiper_bt_prev{background-image: url(../images/attendance/ico_swiper_prev_bt.png); left: 0;}

    /*  출첵도장 */
.box_check_stamp{width: 137px; height: 116px; position: absolute; background-image: url(../images/attendance/check_box.png); background-size: 137px 116px; left:50%; top: 32%; transform: translate(-50%, -32%); padding-top: 12px;}
.check_stamp{width: 45px; height: 45px; position: absolute; background-image: url(../images/attendance/check_stamp.png); background-size: 45px 45px; left: 50%; top: 41px; transform: translate(-50%);}
.check_stamp.on{width: 50px; height: 36px; background-image: url(../images/attendance/stamp.png); background-size: 50px 36px; top: 48px;}
.txt_year_month{font-size: 1.000rem; color: #fff;}
.txt_check{width: 130px; position: absolute; left: 50%; top: 92px; transform: translate(-50%);font-size:0.938rem;}

    /* 달력 */
.week{border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea ;}
.week th{display: inline-block; width: 13.5%; height: 35px; text-align: center; color: #424242; font-size: 0.875rem; line-height: 35px; font-weight: 400;} 
.days td{display: inline-block; width: 13.5%; height: 30px;  text-align: center; line-height: 30px; margin-bottom: 15px;}
.days:first-child td{margin-top: 20px;}
.days:last-child td{margin-bottom: 0px;}
.last_date{color: #bababa;}
.calendar.on{position: relative; width :30px; height: 30px; margin: 0 auto; border-radius: 15px; line-height: 27px; border: 1px solid #008288;color: #008288; background: #ddeff0; display: inline-block;}
.calendar.on::before{
    content:'';
    width :22px; height: 22px; 
    border-radius: 15px;
    border: 3px solid #fff;
    position: absolute;
    left: 0%; top: 0%;
}
/* //attendance */

/* smart */
/* 0308 */
.bg_ligthGn{background: #f0f1f5; width: 100%; height: 60px;}
/* 0311 */
.wrap_smart_bottomBanner{background-color:#f8f0e0;text-align:center;}
.wrap_smart_bottomBanner > img{width:100%;max-width:360px;}
/* 0313 */
.ico_list_phone{width: 40px; height: 40px; display: inline-block; background-image: url(../images/ico/list_phone.png); background-repeat: no-repeat; background-size: 100%;}
.list_date{font-size: 0.875rem;}
.list_logo_img{width: 106px; height: 22px; padding-top: 9px;}
.list_border{padding: 20px 0; border-bottom: 1px solid #eaeaea;}
.bt_wd_full{width: 100%; text-align: center; margin: 20px 0;}
    /* div table  */
.dv_table{width: 100%; display: table;}
.dv_table_row{display: table-row;}
.dv_table_cell{display: table-cell;}
.col_left{width: 50%; text-align: left;}
.col_right{width: 50%; text-align: right;}
.dv_table_row:first-child > .dv_table_cell{padding-top: 15px;}
.dv_table_cell{padding-bottom: 16px; font-size:  0.875rem;}
    /* //div table */
    
.info_box_white{position:absolute;width:100%;height:78px;padding:20px 25px;left:0;bottom:0;color:#000;}
.info_box_white .flag_box_green, .info_box_white .smart_info, .box_smart .btn_sns.btn_like{z-index:2;}
.info_box_white::before{content:"";position:absolute;display:block;width:100%;height:100%;left:0;bottom:0;background-color:#fff;opacity:0.9;z-index:1;}
#account .box_smart .btn_like{position: absolute; right: 25px; bottom: 16px; color: #000;}
.info_box_white .flag_box_green{position: absolute; bottom: 70px;}

.submain_list .ico_sp_ask{animation-name: movingCi; animation-duration: 1000ms;  background-color: transparent;animation-direction:initial; animation-iteration-count: infinite; }
/* @keyframes movingCi{
    0%{transform: translate(3px, 0px)}
    13%{transform: translate(2px,-2px);}
    26%{transform: translate(0,-3px);}
    39%{transform: translate(-2px,-2px);}
    52%{transform: translate(-3px,0px);}
    65%{transform: translate(-2px,2px);}
    78%{transform: translate(0px,3px);}
    91%{transform: translate(2px,2px);}
    100%{transform: translate(3px, 0px);}
} */
/* //smart */

/* customer */
/* 0101 */
.tab_acd_list .ico_sp_bArr_middle { position: absolute; right: 7px; top: 50%; margin-top: -3.5px;}
.txt_date{font-size:  0.875rem; color: #424242; padding-top: 12px;}
.two_lines{line-height: 1.4; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp:2; -webkit-box-orient: vertical; overflow: hidden; font-size: 0.938rem; }
.tit_tab_acd > a{font-weight: 400; vertical-align: middle;}
.vertical_bdGray_list a.box_link{padding: 20px 40px 20px 0;}
.section_pv3025 .vertical_bdGray_list:first-child{border-top: 1px solid #eaeaea;}
/* 0102 */
.box_lightBlue{padding: 20px; background: #f0f1f5; margin-top: 20px; margin-bottom: 20px;}
.box_txtGray{line-height:1.4;font-size:0.875rem;color:#424242;}
/* 0401 */
.txt_version{text-align: right; font-size: 0.875rem; margin-bottom: 12px;}
/* 0402 */
.use_list{padding-bottom: 30px;}
.use_list:last-child{padding-bottom: 0;}
/* 0409 */
.ico_pop_phone{width: 25px; height: 25px; display: inline-block; margin-right: 10px; background-image: url(../images/ico/pop_phone.png); background-repeat: no-repeat; background-size: 25px 25px;}
/* //customer */

/* payment */
    /* 0110 */
    .overScroll{overflow: auto;/*  height: 400px; */ /* padding: 0 35px; */}
	.overScroll.shop_list{padding: 0 35px;}
    
    /* 0102 */
    .ico_bt_list{position: absolute; right: 35px; top: 0px;}
    [class^="ico_pay"]{ background-image: url(../images/payment/sp_payment.png); background-repeat: no-repeat; background-size: 75px 75px;}

    .ico_pay_percent{width: 17px; height: 17px; margin-right: 7px; margin-top: 2px;  background-position:-17px 0;}
    .ico_pay_event{ width: 17px; height: 17px; margin: 2px 7px 0; background-position:0 0;}
    .box_link > .ico_pay_event{position: absolute; width: 17px; height: 17px; background-position:0 0; left: -10px; top: -11px;}
    .ico_pay_pays{position: absolute; width: 25px; height: 9px; background-position: 0 -17px; right: 0; top: -10px;}
    .ico_pay_smart{position: absolute; width: 30px; height: 9px; background-position: 0 -26px; right: 0; top: -10px;}
    .pay_round_pink{position: absolute; height:18px; padding:0 6px; line-height:19px; -webkit-border-radius:9px; border-radius: 9px; background-color:#e5005a; font-size:0.688rem; color:#fff; left: 0; top: -10px;z-index:1;}

    .pay_input .tf_bdGreen{padding:0;}
    .pay_input .tf_bdGreen:first-child{margin-right: 10px;}
    /* 아코디언 */
    .tit_tab_shop > .box_link{font-size: 0.875rem; padding: 0px 35px 25px;}
    .img_shopLogo{/* height: 40px; */max-height:100%;position:absolute;left:0;top:0;} /*img 크기*/
    .tab_shop_list .ico_sp_down {margin-left: 5px; margin-top: -2px; overflow: hidden;}
    .con_tab_shop .list_logo{/* margin-left: -30px; */ padding:0; margin-top:-20px;}
	.con_tab_shop .bdb_gray .list_logo{padding: 0 4.5px;}
    .con_tab_shop .logo_list:nth-child(-n+3){margin-top: 15px;}
    .con_tab_shop .logo_list {width: 33.3%; margin-top: 20px; /* padding-left: 30px; */padding:0;}
    .con_tab_shop .logo_list:first-child{width: 33.3%;}
    .con_tab_shop .logo_list > .box_link{/* height: 40px; */ text-align: center;height:0;width:100%;padding-bottom:61.538%;}
    .shop_list .list_logo{margin-top: 0;}

    .con_tab_shop .pay_list .logo_list{margin-top: 35px;}
	.con_tab_shop.shop_list .logo_list{padding: 0 4.5px;}
    /* .section_tp20 > .bullet_circle_list {color: #000; font-size: 0.813rem;}   */

    .payment_result .dt_dlBasic{padding-top: 30px;}
    .payment_whBg{background-image: url(../images/payment/white_bg.png); width: 165px; height: 165px; background-size: 165px 165px; margin: 0 auto; position: relative; margin-top: 10px;}
    .payment_whBg img{margin-top: -12px;}
	.payment_whBg .img_shopLogo{height:40px;position: absolute;left: 50%;top: 50%;}
    
/* //payment */

/* free_charge */
.ico_walking{background-image: url(../images/free_charge/walking.png); width: 172px; height: 172px; background-size: 172px 172px;}


/* stamp */
.hana_stamp_w{background-image: url(../images/ico/hana_stamp_w.png); width: 172px; height: 172px; background-size: 172px 172px; display: inline-block;}
.stamp_usePrice{position: absolute; padding-top: 97px; left: 50%; transform: translate(-50%); }
.stamp_result .wrap_check + .wrap_list_thumb{border: none;}
.stamp_result .type_list .thumb_list:last-child{border-bottom: 1px solid #eaeaea;}
.stamp_dir{padding: 20px 25px; background-color: #f0f1f5; line-height: 20px; font-size: 0.938rem;}
.stamp_result .date_eventList{padding-top: 15px;}


.hana_stamp {background-image: url(../images/ico/hana_stamp_gray.png); width: 20px; height: 20px; background-size: 20px 20px; background-repeat: no-repeat; display: inline-block; position: absolute; margin-left: -25px;}
.hana_stamp.on{background-image: url(../images/ico/hana_stamp.png);}
.stamp_total{padding-top: 20px; margin-right: -15px;}
.stamp_result .tf_checkbox{margin-top: -20px;}

.stamp_result .wrap_list_thumb{margin-top: 15px;}
.stamp_result .type_list .fig_list_thumb > img {left: 12px;}
.stamp_result .type_list .fig_list_thumb{padding-left: 118px;}
/* //stamp */



.top_menu{height: 55px; background: gray;}
/* challenge */
.wrap.challenge .has_bottom_btn{height: calc(100% - 60px);}
.wrap.challenge .contents{height:100%;}
.challenge_infor h2{font-weight: 400;}
.challenge_infor .list_bullet_num, .challenge_infor .list_bullet_reference{padding-top: 15px;}
.challenge_infor .bullet_num_list{color: #000;}
.wrap_chaCondi{padding:25px 0 30px;height:100%;}
    /* 1 */
.wrap_txtCh{padding-top: 40px; padding-bottom: 52px;}
.wrap_txtCh h2{padding-top: 17px;}
.txt_hashTag{/* padding-top: 63px; */ font-size: 0.813rem; text-align: center;position:absolute;bottom:13%;left:0;width:100%;}
[data-roll='challenge']{height: 100%;}
.wrap_challenge{height: 100%;}
.wrap_challenge .tit_limitMotion{padding:0 0 20px;}
.wrap_challenge .limitMotion_tit{padding-top:40px;}
.wrap_challenge .inner_limit_phone{margin:39px 16px 0 26px;}
.wrap_challenge .inner_limit_phone .box_txtfz_14{padding-top:27px;}
.wrap_challenge .swiper-container, .wrap_challenge .swiper-wrapper, .wrap_challenge .swiper-slide{height: 100%;}
.wrap_challenge .swiper-slide{padding:0 25px;}
.wrap_chaBg{min-height: 213px;position:absolute;left:50%;top:57%;transform:translate(-50%, -57%);}
.chaBg_icon{ width: 213px; height: 213px; position: absolute; top: 0; left: 50%; transform: translateX(-50%)}
[class^="chaBg_icon0"]{position: absolute;}
.chaBg_icon0_0{width: 213px; height: 213px; background: #f0f1f5; border-radius: 50%;}
.chaBg_icon0_1{width: 65%;  top: 56%; left: 50%; transform: translate(-50%, -50%);}
.chaBg_icon0_2{width: 9px; height: 9px; top: 60px; left: 85px;}
.chaBg_icon0_3{width: 33px; height: 37px; top: 48px; right: 45px;}
.chaBg_icon0_4{width: 17px; height: 20px; top: 10px; right: 40px;}
.chaBg_icon0_5{width: 91px; height: 1px; bottom: 58px; left: 60px;}
.blank{width: 4px; height: 1px; display: block; margin-left: 10px; background: #f0f1f5; z-index: 1;}
    /* 2 */
.h_txtCh{padding-top: 15px; padding-bottom: 10px;}
.cha_graph{position:relative; padding-top: 40px;}
.linegraph{ position: relative;width:310px;padding-top:297px;margin:0 auto;background:url(../images/challenge/bg_gray.png) left 35px bottom 24px no-repeat;background-size:226px 238px;}
.dt_linegraph{font-size: 0.813rem;width:25%;border-top: 1px solid #bababa;padding-top:10px; text-align: center;} 
dd.dd_linegraph{float:none; position:absolute; width:25%;}
[class^="ch_line_"]{position: absolute; display: block; left:0; width: 79px; height: 64px; background-image: url(../images/challenge/graph_line.png); background-repeat: no-repeat;  background-size: 79px 64px; }
.ico_linegraph_outer, .ico_linegraph_inner{display:inline-block;}
.ico_linegraph_outer{position:relative;width:30px;height:30px;background:url(../images/challenge/graph_ci_outer.png) 0 0 no-repeat;background-size:100% 100%;vertical-align:middle;}
.ico_linegraph_inner{position:absolute;left:50%;top:50%;margin:-7px 0 0 -8px;width:15px;height:15px;background:url(../images/challenge/graph_ci_inner.png) 0 0 no-repeat;background-size:100% 100%;}
.ico_linegraph_fin{position: relative; left:0%;top:0%; width: 60px; height: 60px; background: #008288; border-radius: 50%; vertical-align:middle;}
.ico_linegraph_finIn{position: absolute; left:30%;top:30%; width:24px;height:22px; background:url(../images/challenge/graph_shoes.png) 0 0 no-repeat;background-size:100% 100%;}
    /* 라인 */
.graphline{position: absolute; border: 1px solid #008288; width: 93px; top: -17px; left: 8px; transform: rotate(-39deg);}
.ch_line_two .graphline{top: -17px; left: 5px;transform: rotate(-42deg);}
.ch_line_three .graphline{top: -24px; left: 1px;transform: rotate(-50deg);}
    /* //라인 */
.rate_linegraph{vertical-align:middle; font-size: 0.875rem;}
.ch_line_one{left:0;bottom:47px;}
.ch_line_two{left:25%;bottom:110px;}
.ch_line_three{left:50%;bottom:173px;}
.ch_line_four{left:75%;bottom:261px;}
.ch_line_four .rate_linegraph{display:inline-block;}
.inner_ch_line{position:absolute;width:100%;bottom:100%;left:21px; top:-18px; word-break: keep-all;}
.ch_line_three .inner_ch_line{top: -21px; left: 18px;}
.ch_line_four .inner_ch_line{top: -55px; left: 0px;}
.ch_line_four .fz_13{padding-bottom: 10px; display: inline-block;}
.ch_line_four .fz_13 > b{margin-left: 3px; margin-top: -3px;}
    /* 3 */
.chaCondi{position: relative;height:95%;overflow:auto; }
.wrap_challenge .swiper-pagination{text-align: center; bottom: 30px;}

    /* 팝업 */
.ch_condi{background: #d8d8d8; border-top: 1px solid #555555; font-size: 0.875rem;  }




/* //challenge */

/*룰렛*/
[data-roll='roulette']{/* width:320px; */margin: 0 auto;}
[data-roll='roulette'] .roul_con{position: relative;text-align: center;}
[data-roll='roulette'] .box_center{padding: 20px 0 26px;font-size: 1.25rem;line-height: 28px}
[data-roll='roulette'] .roul_arr{top:-14px;left:50%;width: 33px;z-index: 11;margin-left:-15px;}
[data-roll='roulette'] .roul_start{top:50%;left:50%;width: 103.3px;z-index: 10;margin:-54px 0 0 -52px;}
[data-roll='roulette'] .roul_bg{/* top:10px; */left:50%;top:50%;width:100%;height:100%;background: url(../images/money/ico_roulette_round_bg.png) 0 0 no-repeat; -webkit-background-size:100% 100%;margin:-50% 0 0 -50%; 
/*filter: drop-shadow(0 0 0.3rem #000*/)}
[data-roll='roulette'] .roul_money_small{top:56%;left:90%;width: 47.6px;z-index: 12;}
[data-roll='roulette'] .roul_money_large{top:73%;left:76%;width: 75.3px;z-index: 12;}
.inner_roulCon{position: relative;/* width: 260px; */margin:0 auto;width: 85%;height: 0;padding-bottom:85%;}
.roul_arr, .roul_start, .roul_bg, .roul_money_large, .roul_money_small, .roul_wbg{position: absolute;}
.roul_wbg{display: none; top:2.5%;left:2.5%;width:95%; height:95%; border-radius: 50%;background:#fff;z-index: 11}
.roul_wbg .roul_text_center > span{display: block;}
.roul_text_center{position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%);} 
.roul_wbg .roul_text_center .win_message{font-size: 1.375rem; color: #e5005a; font-weight: 700;}
.roul_wbg .roul_text_center .prizes{margin-top: 6px;font-size: 1.375rem; color: #000; font-weight: 700;}
.roul_wbg .roul_text_center .prizes .money_txt{font-size: 1.875rem; color: #000; font-weight: 800;}
.roul_wbg .roul_text_center .prizes .plus{font-size: 1.875rem; color: #000; font-weight: 800;}
.roul_wbg .roul_text_center .info_txt{margin-top: 16px;font-size: 1.375rem; color: #008288; font-weight: 700;}
.roul_back_money .ico_roul_money{
	display: block;opacity: 1; position: absolute;top:360px; left:110px; width:20px; z-index: 11;
	animation: rot 0.5s infinite;-webkit-animation:rot 0.5s infinite;}
@keyframes rot{100% {transform: rotateY(360deg)}}
.roll_banner{width: 100%;position:relative;text-align: left; padding-top: 91px; z-index: 13;}
.roul_info{position: absolute; top:15px; left:0; width:100%; text-align: center; font-size:0.813rem;line-height: 18px;}
.commentWrap{/*width:320px;*/width:100%; padding: 20px 25px 0; background: #fff;}
.commentWrap .titBox{border-bottom: 1px solid #d8d8d8;padding-bottom: 15px;position:relative;}
.commentWrap .titBox strong{display: block;margin-bottom: 7px; font-size:1.125rem; color: #008288;}
/* .commentWrap .titBox span{display: block;margin-top: 7px;font-size: 16px; color: #000;} */
.commentList{display:none; padding: 30px 0;}
.commentList .com_money{display: block;font-size: 0.875rem; color: #000;margin-bottom: 6px;}
.commentList .ment{display: block;font-size: 0.875rem; color: #000;margin-bottom: 16px;}
.commentList .user{display: block;font-size: 0.813rem; color: #424242;}
.commentList .btnShare{margin-top: 10px; font-size: 0.813rem; color: #424242;}
.commentList .rplyLi{margin-top: 30px;}
.commentList .rplyLi:first-child{margin-top: 0;}
.titBox .ico_sp_down{position:absolute;right:0;top:50%;margin-top:10.5px;}

.inner_graph{padding:0 25px;}
.txt_Graph{padding-top: 30px; padding-bottom: 23px; text-align: center; font-size:1.25rem;}
.txt_Graph span{padding-top: 10px; display: block;}

.graph_info{padding: 20px 25px; font-size: 0.875rem; line-height: 1.4;}
.graph_info_next{color: #008288; font-weight: 700; }

.timer-group{position: relative; width: 200px; height: 200px; background: #fff; border-radius: 50%; margin: 0 auto; border: 10px solid #d8d8d8;}
.block{ position: absolute; width: 200px; height: 200px; background: #008285; border-radius: 50%;top: -10px; left: -10px;}
.timer_bar{position: absolute;  background: #fff; width: 190px; height: 190px; border-radius: 50%; top: -5px; left: -5px; }
.timer_pointer{position: relative; width :20px; height: 20px; margin: 0 auto; border-radius: 15px; line-height: 27px; border: 5px solid #008288;color: #008288; background: #ddeff0; display: inline-block; background: #fff;}

.degree{background-image: linear-gradient(90deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%);}

.gra_timer{color: #008288; font-size: 1.875rem;  font-weight:800;}
.txt_gra{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; font-size:0.938rem;}
.txt_gra span{display: block; text-align: center; line-height: 1.4; color: #000;}
/* //룰렛 */

/* section */
.pd_right25{padding-right: 25px;}
.section_tm15{margin-top: 15px;}
.section_tm20{margin-top: 20px;}
.section_tm25{margin-top: 25px;}
.section_tp12{padding-top: 12px;}
.section_tp75{padding-top: 75px;}
.section_tb15{padding-bottom: 15px;}
.section_bp25{padding-bottom: 25px;}
.section_tb30{padding-bottom: 30px;}
.section_bp10{padding-bottom: 10px;}
.section_tm40{margin-top: 40px;}
.section_bm20{margin-bottom: 20px;}
.section_pv3025{padding: 30px 25px;}
.section_pv3530{padding: 35px 30px;}
.section_15{padding-left: 15px; padding-right: 15px;}
.section_20{padding-left: 20px; padding-right: 20px;}
.section_pv25{padding-top: 25px; padding-bottom: 25px;}
.section_pv1510{padding-top: 15px; padding-bottom: 10px;}
.section_pv1520{padding-top: 15px; padding-bottom: 20px;}
.section_pv3020{padding-top: 30px; padding-bottom: 20px;}
.section_pv3015{padding-top: 30px; padding-bottom: 15px;}
.section_pv3088{padding-top: 30px; padding-bottom: 88px;}
.section_pv5830{padding-top: 58px; padding-bottom: 30px;}
.section_pv2015{padding-top: 20px; padding-bottom: 15px;}
.section_pv2010{padding-top: 20px; padding-bottom: 10px;}
.section_pv2530{padding-top:25px;padding-bottom:30px;}
.section_pv1040ph25{padding: 10px 25px 40px;}
.section_bm30{margin-bottom: 30px;}
.section_mv2530{margin-top:25px;margin-bottom:30px;}
/* font */
.fz_16{font-size: 1.000rem;}

/* box font */
.box_txtfz_18{line-height: 1.4; font-size: 1.125rem;} 

/* lucky welc */
.welc_type{line-height:1;}
.welc_type p:nth-child(1) b{display:inline-block;margin-top:8px;}
.welc_type p:nth-child(2){margin-top:30px;}
.welc_type p:nth-child(2) b{display:inline-block;margin-bottom:10px;}
.welc_type p:nth-child(3){margin-top:40px;}

.welc_type+.eventList{overflow:hidden;padding-top:25px !important;padding-bottom:25px !important;}
.welc_type+.eventList .box_welc_type{margin-left:-10px;}
.welc_type+.eventList .box_half_width{float:left;width:50%;height:258px;padding-left:10px;margin-top:15px;box-sizing:border-box;overflow:hidden;}
.welc_type+.eventList .box_half_width:nth-child(1), .welc_type+.eventList .box_half_width:nth-child(2){margin-top:0;}
.box_welc_type .box_round_white {position:relative;height:258px !important;padding:0 0 0 0 !important;}
.box_welc_type .wrap_check{position:absolute;left:10px;top:12px;z-index:2;}
.box_welc_type .flag_round_greenType02{position:absolute;right:10px !important;top:15px !important;}
.box_welc_type .box_link{width:100%;height:258px;padding:0 0 0 0 !important;}
.box_half_width .box_dim{position:absolute;left:0;top:0;width:100%;height:258px;background:rgba(0, 0, 0, 0.7);-webkit-border-radius:4px;border-radius:4px;overflow:hidden;z-index:3;}
.box_half_width .box_dim .sold_out{width:100%;height:100%;display:flex;align-items:center;justify-content:center;text-align:center;line-height:1.4;color:#fff;}
.box_welc_type .box_link_content{overflow:hidden;position:relative;width:100%;height:258px;padding:0 15px;}

.thumb_eventList_welc_type{position:relative;width:90px;height:90px;margin:47px auto 0;-webkit-border-radius:4px;border-radius: 4px;overflow:hidden;}
.thumb_eventList_welc_type img{width:90px;height:90px;}
.date_eventList_welc_type{position:relative;height:18px;margin-top:12px;font-size:0.813rem;color:#424242;line-height:1;}
.content_eventList_welc_type{margin-top:8px;font-size:0.813rem;line-height:1;}
.name_eventList_welc_type{margin-top:8px;font-size:1.000rem;line-height:1.4;}

.notice_welc_type .tit {font-size:0.875rem;}
.notice_welc_type .list_bullet_circle {margin-top:14px;}

/* member cash */
.cash_type{position:relative;width:100%;height:87px;background-color:#fff;}
.cash_type > p{padding-top:22px;}
.cash_type > p b{display:inline-block;margin-top:8px;}
.cash_type+.eventList{position:relative;overflow:hidden;padding-top:25px !important;padding-bottom:25px !important;}
.cash_type+.eventList .box_cash_type{margin-left:-10px;}
.cash_type+.eventList .box_half_width{float:left;width:50%;height:130px;padding-left:10px;margin-top:15px;box-sizing:border-box;overflow:hidden;}
.cash_type+.eventList .box_half_width:nth-child(1), .cash_type+.eventList .box_half_width:nth-child(2){margin-top:0;}
.box_cash_type .box_round_white {position:relative;height:130px !important;padding:0 0 0 0 !important;overflow:hidden;}
.box_cash_type .box_link{width:100%;height:130px;padding:0 0 0 0 !important;}
.box_cash_type .box_link_content{overflow:hidden;position:relative;width:100%;height:130px;padding:20px 20px 0;}
.box_cash_type .thumb_eventList_cash_type{width:75px;height:22px;}
.box_cash_type .thumb_eventList_cash_type img{width:75px;height:22px;}
.box_cash_type .content_eventList_cash_type_name{margin-top:7px;font-size:0.875rem;}
.box_cash_type .content_eventList_accumulate{position:absolute;right:0;bottom:0;width:76px;height:76px;}
.box_cash_type .content_eventList_accumulate .acc_txt{position:absolute;right:8px;bottom:6px;text-align:right;color:#fff;font-size:0.813rem;line-height:1.3;z-index:2;}
.box_cash_type .triangle_bottom_right{position:absolute;right:0;bottom:0;width:0;height:0;border-top:76px solid transparent;border-right:76px solid #008288;color:#fff;}
.description_one_line{height:36px;font-size:0.875rem;text-align:center;color:#424242;}

/* 데이터충전 */
.member_data .tit_section{height:84px;padding-top:25px;text-align:center;}
.member_data .tit_section b{display:inline-block;margin-top:8px;}

.data_coupon{position:relative;width:262px;height:133px;margin:0 auto;background:url(../images/member/coupon_data.png) 0 0 no-repeat;background-size:100% 100%;}
.data_coupon .logo_datasoda{padding:19px 0 0 54px;}
.data_coupon .logo_datasoda img{width:68px;height:28px;}
.data_coupon .logo_datasoda b{display:inline-block;margin-top:7px;margin-left:5px;}
.data_coupon .content_usage{margin-top:26px;margin-left:54px;font-size:0.813rem;line-height:1.6;color:#424242;}
.data_coupon .accumulate{position:absolute;right:8px;bottom:6px;text-align:right;color:#fff;font-size:0.813rem;line-height:1.4;z-index:2;}

.use_info{padding-left:14px;padding-right:14px;}
.use_info ol li{margin-top:10px;}
.use_info ol li:first-child{margin-top:14px;}

.coupon_select{position:relative;}
.coupon_select .opt_check label{position:relative;display:block;margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #eaeaea;}
.coupon_select .opt_check label:lats-child{margin-bottom:0;padding-bottom:0;}
.coupon_select .opt_check .lab_name{display:inline-block;vertical-align:top;padding-top:5px;}
.coupon_select .content_money{position:absolute;right:0;top:2px;font-weight:700;}
.check_opt:checked + .lab_name + .content_money {color: #008288;}

.layer_pop_data_charge .selected_money{text-align:center;height:90px;line-height:1.6;}
.layer_pop_data_charge .wrap_gg_btn button{height:60px;}

.member_data_charged .symbol_datasoda{padding-top:80px;padding-bottom:30px;}
/* .member_data_charged .symbol_datasoda .box_circle_bdGray{width:82px;height:82px;} */
.member_data_charged .symbol_datasoda .box_circle_bdGray .cooperate_logo img{width:75px;height:22px;}
.member_data_charged .content_info{text-align:center;font-size:1.3125rem;}
.member_data_charged .content_info strong{display:inline-block;font-size:1.875rem;letter-spacing:-1px;padding-top:13px;}
.member_data_charged .content_info span{display:inline-block;vertical-align:top;padding-top:21px;line-height:1;}
.member_data_charged .content_info b{display:inline-block;padding-top:13px;}
.member_data_charged .hana_point_wrap{position:relative;margin-top:80px;padding-top:20px;height:54px;border-top:1px solid #eaeaea;}
.member_data_charged .hana_point_wrap .hana_point{position:absolute;right:0;top:20px;}

/* [S]하나머니 모으기 꿀팁 */
.wrap_honey .swiper-container, .wrap_honey .swiper-wrapper, .wrap_honey .swiper-slide, .honey_popup, .wrap_honey{height: 100%;}
.honey_popup h2{font-weight: 400;}
.honey_popup .content_popup{height: calc(100% - 51px);}
.honey_txt{padding:40px 25px 0;}
.txt_honey{padding-top: 20px; font-size: 0.875rem; line-height: 1.4;}
.tit_honey{font-size: 1.375rem; line-height: 1.4;}
.honey_img img{width: 100%; height: 365px;}
.wrap_honey .page_footer_fix{position: fixed; width: 100%; bottom: 0;}
    /* bullet */
.wrap_honey .swiper-pagination{text-align: right; padding-right: 25px; bottom: 85px;}
.wrap_honey  .swiper-pagination-bullet {border: 1px solid #000; background: #fff;}
.wrap_honey .swiper-pagination-bullet-active {background: #008288;border: none;}
/* [E]하나머니 모으기 꿀팁 */

/* [S] 서비스 개편 안내 */
.popup_service{height: 100%; overflow: hidden;}
.service_popup{background-image: url(../images/service_pop/bg_01.png); background-size: 100% auto; background-repeat: no-repeat; background-position: 0 213px;}
.service_popup .swiper-container, .service_popup .swiper-wrapper, .service_popup .swiper-slide, .service_popup{height: 100%;}
.popup_txt{padding:50px 25px 0; height: 213px;}
.tit_popup{font-size: 1.375rem; line-height: 1.4; font-weight: 400;}
.txt_popup{font-size:  0.875rem; line-height: 1.4; color: #424242; padding-top: 20px;}
.pop_img{padding: 0 25px; text-align: center; min-height: 427px;}
.pop_img img{height: 400px;}
.bottom_bt .btn_link{padding: 0 25px 30px 0;}
.service_popup .swiper-pagination{text-align: left; padding-left: 25px; bottom: auto; top: 178px;}
.service_popup  .swiper-pagination-bullet {border: 1px solid #000; background: #fff;}
.service_popup .swiper-pagination-bullet-active {background: #008288;border: none;}
/* [E] 서비스 개편 안내 */


/* 도전365 팝업 */
.list_tit{display:inline-block; font-weight: 400;}
.txt_middlegray{color:#6e6e6e;}
.list_indent{padding-left:1.5em;}
.list_indent:first-child{padding-left:0;}