@charset "utf-8";

/* [CHG] - 원화충전 */
.section_chg_list {
  padding: 2.0rem 2.4rem 0;
}
.section_chg_list .wrap_link_list {
  padding-top: 1.0rem;
}
.section_chg_list .wrap_link_list a.wrap_box {
  height: auto;
  margin-bottom: 1.5rem;
}
.wrap_btn_box li:last-child .tooltip_bubble .bubble_caret {
  left: auto;
  right: calc(20% - 10px);
}
[class^="ico_chg_"] {
  width: 2.8rem;
  height: 2.8rem;
}
.ico_chg_01 {background-image: url('../../images/hmui/ico_chg_01.png');}
.ico_chg_02 {background-image: url('../../images/hmui/ico_chg_02.png');}
.ico_chg_03 {background-image: url('../../images/hmui/ico_chg_03.png');}
.ico_chg_04 {background-image: url('../../images/hmui/ico_chg_04.png');}
.ico_chg_05 {background-image: url('../../images/hmui/ico_chg_05.png');}

/* [CHG] - 외화충전 */
.section_top_visual.chg_limit {
  background: linear-gradient(137.12deg, #DAFFED 0%, #EFCBEB 123.54%);
}
.section_top_visual.chg_limit::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 67.222vw;
  height: 80.556vw;
  background: url('../../images/global/visual_chg_103.png') no-repeat 50%;
  background-size: 100%;
  z-index: 1;
}
.wrap_item_benefit [class^="emoji_"] {
  position: relative;
}
.wrap_item_benefit li .emoji_globe {
  top: -0.3rem;
  margin: 0 0.8rem 0 0.4rem;
}
.wrap_item_benefit li .emoji_atm {
  margin: 0 0.7rem;
}
.wrap_item_benefit li .emoji_drone {
  top: -0.5rem;
  margin: 0 0.5rem 0 0.2rem;
}

/* [SET] - 하나머니 관리 */
.section_set_list {
  padding-top: 3.0rem;
}
.section_set_list .wrap_btn.type_full {
  margin-top: 3.0rem;
}

/* [USR] - 회원가입 */
.section_acc_list {
  padding-top: 3.0rem;
}
.wrap_banner.usr_open_acc::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10.2rem;
  height: 7.3rem;
  background: url('/images/hmui/img_bankbook.png') no-repeat 50%;
  background-size: 100%;
}
.section_top_visual.join_card {
  padding-bottom: 29.8rem;
}
.visual_usr_card {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 24.4rem;
  height: 27.3rem;
  transform: translateX(-50%);
}
.visual_usr_card  .img_card_travlog {
  display: block;
  margin: 0 auto;
  width: 13.4rem;
  height: 21.2rem;
  margin-top: 1.0rem;
  border-radius: 0.8rem;
  background: url('../../images/global/img_card_travlog.png') no-repeat 50%;
  background-size: 100%;
  transform: rotate(-11.58deg);
  box-shadow: 6px 11px 14px rgba(0, 0, 0, 0.1);
}
.visual_usr_card .img_shoppingbag {
  position: absolute;
  top: 1.0rem;
  right: 0;
}
.visual_usr_card .img_character_luggage {
  position: absolute;
  left: 0;
  bottom: 0;
}
.section_top_visual.join_complete {
  padding-bottom: 20.3rem;
  background: linear-gradient(98.11deg, #11CDAB -18.09%, #2EBEC1 117.48%);
}
.section_top_visual.join_complete .wrap_tit > * {
  color: #fff;
}
.visual_usr_character {
  position: absolute;
  right: 0;
  bottom: -8.89vw;
  left: 17.78vw;
  width: 70.3vw;
  height: 54.44vw;
  text-align: center;
}
.visual_usr_character .img_character_aero,
.visual_usr_character [class^="img_cloud"] {
  will-change: transform;
}
.visual_usr_character .img_character_aero {
  margin-left: -4.3rem;
  animation: itemUp10 0.6s forwards;
}
.visual_usr_character .img_cloud1 {
  animation: cloudPop 0.3s forwards, cloud1 7s 0.3s ease-in-out infinite;
}
.visual_usr_character .img_cloud2 {
  animation: cloudPop 0.4s forwards, cloud2 7s 0.8s ease-in-out infinite;
}

/* [TDL] - 하나머니 조회 */
.section_moneybag[data-ccy="usd"]::before {
  background-image: linear-gradient(135deg, #DBE0FC 0%, #F4DBDE 100%);
}
.section_moneybag[data-ccy="eur"]::before {
  background-image: linear-gradient(135deg, #CCF1E2 0%, #DBE0FC 100%);
}
.section_moneybag[data-ccy="gbp"]::before {
  background-image: linear-gradient(135deg, #F3DDD4 0%, #DBE0FC 100%);
}
.section_moneybag[data-ccy="jpy"]::before {
  background-image: linear-gradient(135deg, #F6E3F8 0%, #F8DFE5 100%);
}
.section_moneybag .wrap_moneybag_tab ul {
  overflow-x: scroll;
  width: 100%;
  padding: 1.2rem 2.4rem;
  white-space: nowrap;
}
.section_moneybag .wrap_moneybag_tab ul::-webkit-scrollbar {
  display: none;
}
.section_moneybag .wrap_moneybag_tab ul li {
  display: inline-block;
  margin-left: 0.8rem;
}
.section_moneybag .wrap_moneybag_tab ul li.on .txt_ccy {
  background-color: #6E7D85;
}
.section_moneybag .wrap_moneybag_tab ul li.on .txt_ccy span {
  color: #fff;
}
.section_moneybag .wrap_moneybag_tab .txt_ccy {
  padding: 0.6rem 1.2rem 0.6rem 0.6rem;
  border-radius: 1.6rem;
  white-space: nowrap;
}
.section_moneybag .wrap_moneybag_tab .wrap_ico_ccy [class^="ico_"] {
  margin: 0 0 0 -0.5rem;
}
.section_moneybag .wrap_moneybag_tab .wrap_ico_ccy [class^="ico_"]:first-child {
  margin: 0;
}
.section_moneybag .wrap_moneybag_tab .wrap_ico_ccy [class^="ico_"]:last-child {
  margin-right: 0.5rem;
}
.msg_no_moneybag {
  padding: 0.3rem 0 2.1rem;
  text-align: center;
}
.msg_no_moneybag .wrap_ico_ccy {
  margin-bottom: 1.2rem;
}
.msg_no_moneybag .wrap_ico_ccy span {
  margin-left: -0.8rem;
}
.msg_no_moneybag .tit {
  color: #252E33;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
}
.msg_no_moneybag .txt {
  padding-top: 0.2rem;
  color: #4F5D64;
  font-size: 1.4rem;
  line-height: 2.0rem;
}
.wrap_banner_box.benefit_link {
  padding: 2.4rem 2.4rem 0;
}
.wrap_banner_box.benefit_link .link_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap_banner_box.benefit_link .benefit_montly {
  padding: 1.6rem 2.0rem 1.6rem 1.6rem;
}
.wrap_banner_box.benefit_link .benefit_montly .ico_present {
  width: 2.9rem;
  height: 3.2rem;
  margin-right: 0.8rem;
  vertical-align: middle;
}
.wrap_banner_box.benefit_link .benefit_montly .tit em {
  display: inline-block;
  line-height: 3.2rem;
  vertical-align: middle;
}
.wrap_banner_box.benefit_link .benefit_montly .txt_total_benefit {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
}
.wrap_banner_box.benefit_link .benefit_others {
  padding-left: 8.4rem;
}
.wrap_banner_box.benefit_link .benefit_others .img_character_question {
  position: absolute;
  left: 1.2rem;
  bottom: 0;
}

/* [HMN] - 하나머니 메인 */
.section_moneybag_all {
  padding-top: calc(constant(safe-area-inset-top) + 1.6rem);
  padding-top: calc(env(safe-area-inset-top) + 1.6rem);
  height: 100%;
}
.wrap_moneybag_none::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 69.4vw;
  background: url('../../images/global/bg_hmn_confetti.png') no-repeat 50% 0%;
  background-size: 100% auto;
}
.wrap_moneybag_none .wrap_box_opacity {
  position: absolute;
  width: calc(100% - 4.8rem);
  margin-top: 1.6rem;
  z-index: 10;
}
.section_moneybag_all .txt_ccy {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 5.2rem;
}
.section_moneybag_all .txt_ccy [class^="ico_"] {
  position: absolute;
  top: 50%;
  left: 0;
  width: 4.0rem;
  height: 4.0rem;
  transform: translateY(-50%);
}
.wrap_moneybag_none .txt_ccy span:not(.total_amount) {
  color: #4F5D64;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
}
.wrap_moneybag_none .txt_ccy .total_amount {
  color: #252E33;
  font-size: 2.4rem;
  line-height: 3.0rem;
  font-weight: 700;
}
.wrap_moneybag_none .ico_arr_link_s {
  position: absolute;
  top: 50%;
  right: 2.0rem;
  transform: translateY(-50%);
}
.section_moneybag_all.type_day {
  background: linear-gradient(135deg, #5CE4C9 0%, #DD87E3 100%);
}
.section_moneybag_all.type_day .wrap_msg_info .btn_primary {
  background-color: #4F5D64;
}
.section_moneybag_all.type_night {
  background: linear-gradient(165.96deg, #237373 0%, #5D3979 100%);
}
.section_moneybag_all.type_night .wrap_box_opacity {
  background-color: rgba(0,0,0,0.15);
}
.section_moneybag_all.type_night .wrap_msg_info .tit {
  color: #fff;
}
.section_moneybag_all.type_night .wrap_msg_info .txt {
  color: rgba(255,255,255,0.8);
}
.hmn_travlog_info::before {
  content: '';
  display: block;
  width: 15.4rem;
  height: 13.6rem;
  margin: 2.0rem auto 1.6rem;
  background: url('../../images/hmui/img_zero_charge.png') no-repeat 50%;
  background-size: 100%;
}
.hmn_travlog_info::after {
  content: '';
  display: block;
  position: absolute;
  top: 2.8rem;
  left: 50%;
  width: 91.1vw;
  height: 44.167vw;
  background: url('../../images/global/bg_hmn_confeffi_2.png') no-repeat 50%;
  background-size: 100%;
  transform: translateX(-50%);
}
.wrap_moneybag_all ul {
  position: absolute;
  top: 50%;
  left: 50%;
  display: table;
  transform: translate(-50%, -60%);
}
.wrap_moneybag_all li {
  margin-top: 0.8rem;
  text-align: center;
}
.wrap_moneybag_all li:first-child {
  margin-top: 0;
}
.wrap_moneybag_all a.txt_ccy {
  display: block;
  min-width: 50vw;
  padding: 0.8rem 2.6rem 0.8rem 4.9rem;
  border-radius: 2.6rem;
  background-color: rgba(37, 46, 51, 0.8);
  text-align: left;
}
.wrap_moneybag_all a.txt_ccy.empty {
  background-color: rgba(37, 46, 51, 0.4);
}
.wrap_moneybag_all .txt_ccy [class^="ico_"] {
  left: 1.1rem;
  width: 3.0rem;
  height: 3.0rem;
}
.wrap_moneybag_all .txt_ccy span {
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.wrap_moneybag_all .txt_ccy .total_amount {
  display: block;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.0rem;
  font-weight: 700;
  white-space: nowrap;
}
.wrap_moneybag_all .txt_center {
  position: absolute;
  bottom: 9.4rem;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
.wrap_moneybag_all .visual_hmn_moneybag::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 4.8rem;
  left: 50%;
  width: 136.66vw;
  height: 85.42vh;
  background: url('../../images/global/visual_hmn_102.png') no-repeat 50%;
  background-size: auto 100%;
  transform: translateX(-50%);
  user-select: none;
  pointer-events: none;
}
.wrap_moneybag_all .visual_hmn_moneybag .img_rocket {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 18.61vh;
  z-index: 10;
  width: 24.72vh;
  height: 27.5vh;
  background: url('../../images/global/visual_hmn_rocket.png') no-repeat 50%;
  background-size: 100%;
  user-select: none;
  pointer-events: none;
}
