@charset "utf-8";

/* [CHG] - 원화충전 */
.section_chg_list {
  padding: 2.0rem 2.4rem 0;
}
.section_chg_list .wrap_link_list {
  padding-top: 1.0rem;
}
.section_chg_list .wrap_link_list a.wrap_box {
  height: auto;
  margin-bottom: 1.5rem;
}
.section_chg_list .wrap_link_list .wrap_box .txt_bank {
  padding-top: 1.2rem;
  font-size: 2.0rem;
  font-weight: 700;
}
.section_chg_list .wrap_link_list .wrap_box .txt_acc {
  padding-top: 0.6rem;
  font-size: 1.6rem;
  letter-spacing: 0;
}
.section_chg_list .wrap_link_list .wrap_box .txt {
  font-size: 2.0rem;
  font-weight: 300;
}
.wrap_btn_box li:last-child .tooltip_bubble .bubble_caret {
  left: auto;
  right: calc(20% - 10px);
}
[class^="ico_chg_"] {
  width: 2.8rem;
  height: 2.8rem;
}
.ico_chg_01 {background-image: url('/images/hmui/ico_chg_01.png');}
.ico_chg_02 {background-image: url('/images/hmui/ico_chg_02.png');}
.ico_chg_03 {background-image: url('/images/hmui/ico_chg_03.png');}
.ico_chg_04 {background-image: url('/images/hmui/ico_chg_04.png');}
.ico_chg_05 {background-image: url('/images/hmui/ico_chg_05.png');}

/* [CHG] - 외화충전 */
.wrap_info_exchange {
  height: 6.5rem;
  padding: 3.0rem 2.4rem 1.5rem;
}
.wrap_info_exchange .txt_info {
  display: inline-block;
  margin-right: 0.5rem;
  color: #000;
  font-size: 1.5rem;
  line-height: 2.0rem;
  vertical-align: top;
}
.wrap_info_exchange .ico_cur_usd {
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: top;
}
.wrap_info_exchange > span {
  display: inline-block;
}
.wrap_info_exchange .btn_ico_tooltip {
  vertical-align: top;
}
.wrap_info_exchange .txt_balloon {
  position: relative;
  margin-left: 5px;
  bottom: 8px;
}