@charset "utf-8";

/* [CHG] - 원화충전 */
.section_chg_list {
  padding: 2.0rem 2.4rem 0;
}
.section_chg_list .wrap_link_list {
  padding-top: 1.0rem;
}
.section_chg_list .wrap_link_list a.wrap_box {
  height: auto;
  margin-bottom: 1.5rem;
}
.wrap_btn_box li:last-child .tooltip_bubble .bubble_caret {
  left: auto;
  right: calc(20% - 10px);
}
[class^="ico_chg_"] {
  width: 2.8rem;
  height: 2.8rem;
}
.ico_chg_01 {background-image: url('/images/hmui/ico_chg_01.png');}
.ico_chg_02 {background-image: url('/images/hmui/ico_chg_02.png');}
.ico_chg_03 {background-image: url('/images/hmui/ico_chg_03.png');}
.ico_chg_04 {background-image: url('/images/hmui/ico_chg_04.png');}
.ico_chg_05 {background-image: url('/images/hmui/ico_chg_05.png');}

/* [CHG] - 외화충전 */
.section_top_visual.chg_limit {
  background: linear-gradient(137.12deg, #DAFFED 0%, #EFCBEB 123.54%);
}
.section_top_visual.chg_limit::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 67.222vw;
  height: 80.556vw;
  background: url('/images/global/visual_chg_103.png') no-repeat 50%;
  background-size: 100%;
  z-index: 1;
}
.wrap_item_benefit [class^="emoji_"] {
  position: relative;
}
.wrap_item_benefit li .emoji_globe {
  top: -0.3rem;
  margin: 0 0.8rem 0 0.4rem;
}
.wrap_item_benefit li .emoji_atm {
  margin: 0 0.7rem;
}
.wrap_item_benefit li .emoji_drone {
  top: -0.5rem;
  margin: 0 0.5rem 0 0.2rem;
}

/* [SET] - 하나머니 관리 */
.section_set_list {
  padding-top: 3.0rem;
}
.section_set_list .wrap_btn.type_full {
  margin-top: 3.0rem;
}

/* [USR] - 회원가입 */
.section_acc_list {
  padding-top: 3.0rem;
}
.wrap_banner.usr_open_acc::after {
  content: '이미지변경예정';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 12.9rem;
  height: 6.8rem;
  background: pink;
}
.section_top_visual.join_card {
  padding-bottom: 29.8rem;
  background-color: pink;
}
.section_top_visual.join_card::after {
  content: '카드디자인 확정 후 수정예정';
  display: block;
  text-align: center;
}
.section_top_visual.join_complete {
  padding-bottom: 20.3rem;
  background: linear-gradient(98.11deg, #11CDAB -18.09%, #2EBEC1 117.48%);
}
.section_top_visual.join_complete .wrap_tit > * {
  color: #fff;
}
.section_top_visual.join_complete + .wrap_item_benefit .wrap_btn_center {
  margin-bottom: 3.0rem;
}
.visual_usr_character {
  position: absolute;
  right: 0;
  bottom: -8.89vw;
  left: 19.72vw;
  width: 70.3vw;
  height: 53.05vw;
  text-align: center;
}
.visual_usr_character .img_character_aero,
.visual_usr_character [class^="img_cloud"] {
  will-change: transform;
}
.visual_usr_character .img_character_aero {
  animation: itemUp10 0.6s forwards;
}
.visual_usr_character .img_cloud1 {
  animation: itemUp10 0.3s forwards, itemFloat7 2s 0.3s ease-in-out infinite;
}
.visual_usr_character .img_cloud2 {
  animation: itemUp10 0.4s forwards, itemFloat5 2s 0.4s ease-in-out infinite;
}
