<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <title>layout guide</title>

  <link rel="stylesheet" href="../../../css/hmui/common.css">
  <link rel="stylesheet" href="../../../css/hmui/contents.css">
  <script src="../../../js/hmui/lib/jquery-1.12.3.min.js"></script>
  <script src="../../../js/hmui/ui_common.js"></script>
</head>
<body>
  <main id="root">
    <header id="header">
      <div class="inner_fixed">
        <button class="btn_ico_prev"><span class="blind">이전</span></button>
        <h1>페이지타이틀</h1>
        <button class="btn_ico_menu"><span class="blind">전체메뉴</span></button>
      </div>
    </header>
    <!-- // header -->

    <div id="contents" class="wrap_contents">
      <div class="contents">
        <section data-roll="guide">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </section>
        <!-- // section -->

        <!-- 하단고정 영역 -->
        <div class="section_bottom_fixed">
          <div class="wrap_btn_full">
            <a href="#none" class="btn_full_secondary">button</a>
            <button type="button" class="btn_full_primary">button</button>
          </div>
        </div>
        <!-- // 하단고정 영역 -->
      </div>
    </div>
    <!-- // contents-->

    <!-- popup -->
    <!-- // popup -->
  </main>
  
</body>
</html>