<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <title>text guide</title>

  <link rel="stylesheet" href="../../../css/hmui/common.css">
  <link rel="stylesheet" href="../../../css/global/contents.css">
</head>
<body>
  <main id="root">
    <header id="header">
      <div class="inner_fixed">
        <button class="btn_ico_prev"><span class="blind">이전</span></button>
        <h1>페이지타이틀</h1>
        <button class="btn_ico_menu"><span class="blind">전체메뉴</span></button>
      </div>
    </header>

    <div id="contents" class="wrap_contents">
      <div class="contents">
        <section data-roll="guide">
          <div class="wrap_tit">
            <h2 class="tit_page">title</h2>
            <p class="txt">desc</p>
          </div>

          <div class="wrap_tit">
            <h2 class="tit_page_bold">title</h2>
            <p class="txt">desc</p>
          </div>

          <div class="wrap_tit">
            <h3 class="tit_sub">sub title</h3>
            <p class="txt">desc</p>
          </div>

          <span class="txt_balloon">balloon text</span>
        </section>
      </div>
    </div>
  </main>

</body>
</html>