@charset "utf-8";

/* 작은 기기들 (태블릿, 768px 이상) */
@media (min-width: 768px) {  }

/* 중간 기기들 (데스크탑, 992px 이상) */
@media (min-width: 992px) {  }

/* 큰 기기들 (큰 데스크탑, 1200px 이상) */
@media (min-width: 1200px) {  }

  /* Smartphones (portrait and landscape) */
@media only screen
and (min-device-width : 320px){
/* Styles */
}

/* Smartphones (landscape) */
@media only screen
and (min-width : 321px) {
	/* Styles */
}

/* Smartphones (portrait) 320 */
@media only screen
and (max-width : 320px) {
	.section_35{padding-left:10px;padding-right:10px;}
	.section_25{padding-left:10px;padding-right:10px;}
	.section_pv40ph25{padding:40px 10px;}
	.section_pv30ph25{padding:30px 10px;}
	.section_pv3040ph25{padding: 30px 10px 40px;}
	.section_pv2540ph25{padding: 25px 10px 40px;}
	.section_pv2530ph25{padding:25px 10px 30px;}
	.section_pv2515ph25{padding:25px 10px 15px;}
	.section_pv2040ph25{padding:20px 10px 40px;}
	.section_pv1040ph25{padding: 10px 10px 40px;}
	.box_bg_green{padding:20px 10px;}
	.width_half{width:100%;}
	.width_half + .width_half{margin:10px 0 0 0;}
	.wrap_memo{padding: 30px 10px 40px;}
	.bg_gray.wrap_memo{padding:15px 10px;}
	.wrap_money_footer{padding: 0 10px 20px;}
	.wrap_moneyBrand{height:194px;}
	.inner_layerGreen{width:calc(100% - 20px);}
	.box_rateResult_list{padding:0 10px 25px;}

	.wrap_search{padding:0 10px;}
	.section_pv40ph25 .middle_screen{/* margin-top:57px; */}
	.footer_vh100contents .section_pv40ph25 .middle_screen{margin-top:0;}

	.wrap_snsbtn{padding:16px 10px;}
	.list_lineBasic{padding-left:0;}
	.lineBasic_list > button, .lineBasic_list > a{padding:0 11px;}
	.wrap_eventList .lineBasic_list > button, .wrap_eventList .lineBasic_list > a{padding:0 8px;}
	.ico_balloonOrg_down, .ico_balloonG_down{padding:0 7px;}
	.basic_showTarget{height:0;padding:0 10px;}
	.basic_showTarget.show{height:53px;padding:16px 10px 0;border-bottom:1px solid #eaeaea;}

	.popup_viewEvent .btn_popupClose{right:10px;}
	.cnt_resultSearch{padding-right:10px;}
	.wrap_layerPop_btn{padding-right:40px;}
	.tit_layer{padding-left:40px;}
	.wrap_layerPop_btn .btn_layerClose{height:49px;padding:0 10px;}
	.lineBasic_list.clear_g > button, .lineBasic_list.clear_g > a{padding:0;}
	.lineBasic_list.clear_g button.basic_show{padding:0 10px;}

	.head_popup{padding-left:10px;}
	.wrap_eventList_filter .list_lineBasic{padding-left:0;}
	
	.grayLine_vertical_list{padding-left:10px;padding-right:10px;}
	.review_user .list_lineBasic{right:-11px;}

	.img_barcode_coupon {padding: 0 10px 20px;}
	.view_coupon .wrap_barcode_coupon{padding:0 40px;}
	.head_popup .tit_popup{padding-right:31px;padding-left:21px;}
	.content_popup .middle_screen{/* margin-top: 97px; */}

	.section_pvph25{padding:25px 10px;}
	.section_pv20ph25{padding:20px 10px;}

	/* 다이아몬드레이스 */
	.box_diamondTop{padding:35px 10px;}
	.tabBasic_content{padding: 20px 10px 39px;}

	.type_bottom_green .btn_layerClose{padding:0 10px;}
	
	/*2018-06-15 10->20px수정*/
	.list_todayEvent{padding:10px 20px 24px 0;}
	.todayEvent_list{padding-left:20px;}
	/*2018-06-15 10->20px수정*/
	.box_infoMission{padding:20px 10px;}

	.smart_dir{padding:15px 10px;background-color:#f0f1f5;}
	.smart_detail{padding:15px 75px 15px 10px;}
	.smart_detail .btn_call{right:10px;}
	.img_diamond_pop{margin:8px -10px 25px;}


	/* 결제하기 */
	.con_tab_shop .list_logo{/* margin-left: -15px; */}
	.con_tab_shop .logo_list {width: 33.3%; margin-top: 20px; /* padding-left: 15px; */}
	.pd_right25{padding-right: 15px;}

	.wrap_popup .btn_popupClose{right:15px;}

	/* 스마트금융 */
	/* .bg_limit_phone{bottom:-91px;} */
	.wrap_limitMotion .swiper-pagination{position:fixed; bottom:70px;left:0;}
	.box_limit_motion{height: 184px;}
	.motion_txt01{top:20px;}
	.motion_txt02{top:38px;}
	.motion_txt03{top:20px;}
	.motion_txt04{top:38px;}

	/* .section_limitMotion.bottom{bottom:66px;} */
	.tit_limitMotion{padding: 0 0 5px;}
	
	.wrap_limitMotion{min-height:525px;}
	.contents_samrtmedia{padding:20px 10px 0;}
	[data-roll="smart-card"] .wrap_smartmedia .btn_popupClose{right:10px;}

	/* 메인 */
	.wrap.main .contents{min-height:451px;}
	.wrap_txtmoMain{padding:30px 0 26px;}
	.wrap_main .swiper-slide{padding:0 10px;}
	.wrap_main .swiper-pagination{padding:0 10px;}
	.swiper-slide .wrap_txtmoMain{/* padding-top:45px; */}
	.wrap_main .swiper-container-horizontal > .swiper-pagination-bullets{top: 20px;}
	.banner_main_inner{padding:25px 145px 25px 10px;}
	.img_banner_main{right:10px;}
	.wrap_banner_main .wrap_cirMo{width:29%;padding-top:29%;}
	.wrap_btn_main{padding:0 10px;}
	.wrap_txtmoMain.name_list{padding:58px 0 0;}
	.inner_banner_main{padding:20px 15px;}

	/* 도전365적금 */
	.wrap_txtCh{padding-top: 30px;}
	.chaCondi{height: 100%;}
	.cha_graph{padding-top: 8px;}
	.linegraph{margin-left: -20px}
	.wrap_challenge .swiper-pagination{bottom: 10px;}
	.list_challenge_praph{left:10px;}
	.wrap_challenge_praph{padding:0 10px 0 58px;}
	.wrap_challenge .bg_limit_phone{height:400px;}
	.wrap_challenge .list_limitMotion_num{padding:10px 20px;}
	.hidden_320{display:none;}

	/* 룰렛 */
	.roul_info.notice{padding: 0 10px;}
	.roul_info.notice::after{right:10px;}
	.wrap_timer{position:relative;left:0;top:0 !important;margin-left:0;}

	/* 	오늘의 미션 */
	.mission_pop{/* margin:10px 10px 0; */}

	/* 꿀팁 */
	.honey_img img{height: 319px;}
	.honey_popup .content_popup{height: auto;}
	.honey_txt{padding: 20px 15px 0;}
	.wrap_honey .swiper-pagination{bottom: 72px; padding-right: 15px;}
	/* .rouletteStop{min-height:334px;} */

	/* 개편안내 */
	.pop_img{padding-top: 20px; min-height: 355px;}
	.pop_img img{height: 320px;}
	.popup_txt{padding: 30px 15px 0;}
	.service_popup .swiper-pagination{padding-left: 15px;}
	.bottom_bt .btn_link{padding: 0 15px 20px 0;}
	.popup_service{height: 100%; overflow: auto;}

	
	/* 2018-08-02 포인트전환 팝업 */
	.layer_pop_wrap {position:absolute;top:34px !important;left:0;font-size:0.75rem;}
	.layer_inner .head_popup {height:40px;line-height:40px;}
	.layer_inner .head_popup .tit {font-size:1.125rem;}
	.layer_inner .head_popup .btn_popupClose {height:40px;position:absolute;top:0;right:25px;}
	.layer_inner .info strong {margin-bottom:4px;font-size:0.9375rem;}
	.layer_inner .info {font-size:0.8125rem;}
	.layer_inner .info, .layer_inner .cont {padding:11px 23px;}
	.layer_inner .cont:before {padding-top:75px;content:'';display:block;background:url(../images/img_point.jpg) no-repeat center 0;background-size:150px auto;}
	.layer_inner .cont dl + dl {margin-top:10px;}
	.layer_inner .cont dl dt {margin-bottom:5px;font-size:0.9375rem;}
	.layer_inner .cont dl dd ul li , .layer_inner .cont dl dd {font-size:0.875rem;}
}


/* Smartphones (portrait) 360 */
@media only screen
and (max-width : 360px) {
	.box_bg_green{padding:20px 10px;}
	.width_half{width:100%;}
	.width_half + .width_half{margin:10px 0 0 0;}
	.wrap_timer{top:107px;}
	/* .rouletteStop{min-height:334px;} */
}


@media only screen
and (max-width : 375px) {
	.rouletteStop{}
}


@media only screen
and (min-width : 414px) {
	.lineBasic_list > button, .lineBasic_list > a{padding:0 25px;}
	.bg_limit_phone{height:443px;bottom:0;}
	/* .inner_limit_phone{ margin:53px 16px 0 26px;} */
	.limitMotion_tit{padding-top:20px;}
	.list_limitMotion_bank{}
	.box_limit_motion{height:211px;}
	.left .limit_graph, .right .limit_graph{padding-bottom:140%;}
	.wrap_motion.right{bottom:-89px;}
	.section_limitMotion.bottom{bottom:0;}
	
	/* 메인 */
	.wrap_txtmoMain{padding: 58px 0 70px;}
	.wrap_banner_main .wrap_cirMo{margin-top:-7px;}

	.rouletteStop{/* height:calc(100% - 252px); */}

	/* 꿀팁 */
	.honey_img img{height: 405px;}
	/* 개편안내 */
	.pop_img{padding-top:40px; min-height: 460px;}
	.bottom_bt .btn_link{padding: 0 25px 30px 0;}
	
	/* 검색결과 없음 */
	.section_search + .eventList .ico_emo_Dsad{margin-top:80px;}
}

@media only screen 
and (min-device-height : 760px){
	/* .box_limit_motion{height: 285px;}
	.limitMotion_tit{padding-top:100px;}
	.bg_limit_phone{height:452px;}
	.left .limit_graph, .right .limit_graph{padding-bottom:173%;}
	.wrap_motion.right{bottom: -148px;} */
	.box_limit_motion{height:211px;}
	.limitMotion_tit{padding-top:20px;}
	.bg_limit_phone{height:443px;bottom:0;}
	.left .limit_graph, .right .limit_graph{padding-bottom:140%;}
	.wrap_motion.right{bottom:-89px;}
	.list_limitMotion_num{padding: 36px 20px 25px;}
	.limitMotion_num_list{padding-bottom:25px;}
	.ico_limitMotion_num::after{height:25px;}
	
	/* 메인 */
	.wrap_txtmoMain{padding: 58px 0 101px;}
	.rouletteStop{/* height:calc(100% - 296px); */}

	/* 룰렛 */
	.inner_roulCon{margin-top:50px;height:306px;}
}

@media only screen 
and (min-device-height : 812px){
	/* .box_limit_motion{height: 285px;}
	.limitMotion_tit{padding-top:100px;}
	.bg_limit_phone{height:452px;}
	.left .limit_graph, .right .limit_graph{padding-bottom:173%;}
	.wrap_motion.right{bottom: -148px;} */
	.box_limit_motion{height:211px;}
	.limitMotion_tit{padding-top:20px;}
	.bg_limit_phone{height:443px;bottom:0;}
	.left .limit_graph, .right .limit_graph{padding-bottom:140%;}
	.wrap_motion.right{bottom:-89px;}
	.list_limitMotion_num{padding: 36px 20px 25px;}
	.limitMotion_num_list{padding-bottom:25px;}
	.ico_limitMotion_num::after{height:25px;}
	
	/* 메인 */
	.wrap_txtmoMain{padding: 58px 0 101px;}
	.rouletteStop{/* height:calc(100% - 296px); */}

	/* 룰렛 */
	.inner_roulCon{margin-top:50px;height:auto;}
	.phone_service_motion .inner_roulCon{margin-top:0;}
}


/* iPads (portrait and landscape) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	/* Styles */
.rouletteSlider .swiper-slide img{ height: 100px; display: block; margin: 0 auto;}
}

/* iPads (landscape) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	/* Styles */
}

/* iPads (portrait) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	/* Styles */
}

/* Desktops and laptops */
@media only screen
and (min-width : 1224px) {
	/* Styles */
}

/* Large screens  */
@media only screen
and (min-width : 1824px) {
	/* Styles */
}

/* iPhone X */
@media only screen
and (min-device-width : 375px)
and (max-device-height : 812px),
and(-webkit-device-pixel-ratio : 3)
{
}

/* iPhone 6+,7+,8+ */
@media only screen
and (min-device-width : 414px)
and (max-device-height : 736px),
and(-webkit-device-pixel-ratio : 3) {

}

/* iPhone 7,8 */
@media only screen
and (min-device-width : 375px)
and (max-device-height : 667px),
and(-webkit-device-pixel-ratio : 2) {
}

/* iPhone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	/* style */
}



/* LG G5 */
@media
only screen and (max-device-height : 640px),
and (min-device-pixel-ratio:4.0),
and (min-resolution:554dpi),
and (min-resolution:4.0dppx)
{
	/* 신용대출 한도조회 */
.wrap_limitMotion{height:calc(100% - 60px);background:url(../images/smart/bg_limit.png) 0 0 no-repeat;background-size:100% 100%;}
.wrap_limitMotion::after{content:"";display:block;width:151px;height:47px;position:absolute;bottom:0;margin-left:-75.5px;}
.wrap_limitMotion .swiper-container{height:100%;}
.tit_limitMotion, .txt_limitMotion{line-height:1.4;color:#fff;}
.tit_limitMotion .txt_light{display:block;}
.tit_limitMotion{padding:0 0 10px;font-size:1.500rem;}
p + .tit_limitMotion{padding:5px 0 20px;}
.txt_limitMotion{font-size:1.25rem;}
.bg_limit_phone{position:absolute;left:50%;bottom:-55px;margin-left:-139px;width:268px;height:390px;background:url(../images/smart/bg_limit_phone.png) 0 0 no-repeat;background-size:100% 100%;}
.inner_limit_phone{margin:47px 16px 0 26px;}
.box_limit_motion{position:relative;height:160px;overflow:hidden;}
.box_limit_motion::after{content:"";display:block;position:absolute;bottom:-1px;left:0;width:100%;height:47px;background:url(../images/smart/bg_limit_coin.png) 50% bottom no-repeat;background-size:152px 47px;}
.motion_txt01, .motion_txt02, .motion_txt03, .motion_txt04{position:absolute;}
.wrap_motion.left, .wrap_motion.right{width:50%;height:100%;position:absolute;}
.wrap_motion.left{left:0;}
.wrap_motion.right{padding-right:48px;right:0;bottom:-52px;}
.motion_txt01{left:45px;top:11px;}
.motion_txt02{left:30px;top:27px;width:76.67px;text-align:center;}
.motion_txt03{right:48px;top:30px;}
.motion_txt03 [class^="t"]{display: inline-block;}
.motion_txt04{right:53px;top:48px;}

.section_limitMotion{position:relative;padding:0 20px;background-color:#fff;}
.section_limitMotion.bottom{position:absolute;width:calc(100% - 42px);bottom:55px;left:0;margin:0 16px 0 26px;padding-bottom:30px;}

.left .limit_graph, .right .limit_graph{position:absolute;bottom:0;height:0;width:100%;padding-bottom:99%;}
.right .limit_graph{bottom: auto;top: 0;}
.left .graph_limit, .right .graph_limit{position:absolute;display:block;height:100%;min-height:55%;max-height:100%;width:4px;position:absolute;bottom:0;}
graph_limit img{width: 4px;}
.left .graph_limit{left:65px;/*background:url(../images/smart/line_limit_red.png) 0 0 no-repeat;background-size:4px 172px;*/}
.right .graph_limit{right:66px;/*background:url(../images/smart/line_limit_green.png) 0 0 no-repeat;background-size:4px 172px;*/bottom: -72px;}

.notice_limit{height:37px;padding-top:10px;border-bottom:1px solid #eaeaea;text-align:right;font-size:0.75rem;color:#424242;}

.list_limitMotion_bank{padding-top:7px;}
.limitMotion_bank_list{margin-top:8px;width:50%;}
.limitMotion_bank_list:nth-child(2n){padding-left:19px;}
.limitMotion_bank_list > img{height:15px;width:auto;}

.wrap_limitMotion .swiper-pagination{bottom:25px;}
.limitMotion_tit{padding-top:10px;}
.section_limitMotion_txtOnly{margin-top:25px;padding-top:15px;line-height:1.4;border-top:1px solid #eaeaea;text-align:center;font-size:0.875rem;}
.section_limitMotion.bottom .section_limitMotion_txtOnly{margin-top:0;}

.list_limitMotion_num{padding:20px 20px 25px;}
.limitMotion_num_list{padding-bottom:15px;line-height:46px;}
.limitMotion_num_list:last-child{padding-bottom:0;line-height:1.4;}
.inner_limitMotion_num{position:relative;min-height:46px;padding-left:61px;font-size:17px;}
.ico_limitMotion_num{display:block;position:absolute;left:0;top:0;height:46px;width:46px;padding:8px;-webkit-border-radius:100%;border-radius: 100%;text-align:center;background-color:#008288;line-height:1;font-size:0.75rem;color:#7dc9cd;}
.ico_limitMotion_num span{display:block;font-size:0.938rem;color:#fff;}
.ico_limitMotion_num::after{content:"";display:block;width:0;height:15px;position:absolute;top:46px;left:23px;border-left:1px solid #008288;}
.limitMotion_num_list:last-child .ico_limitMotion_num::after{display:none;}

/* 룰렛 */
.rouletteStop.box_vertical_middle{height:403px;}
}
