@charset "utf-8";

@keyframes itemUp10 {
  0% {
    transform: translateY(1.0rem);
  }
  85% {
    transform: translateY(-0.06rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes itemUp100 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes floating5 {
  60% {
    transform: translateY(0.5rem) rotate(-0.7deg);
  }
}

@keyframes cloud1 {
  0% {
    transform: translateY(0); }
  45% {
    transform: translateY(1.6rem); }
  100% {
    transform: translateY(0); 
  } 
}
@keyframes cloud2 {
  0% {
    transform: translateY(0); }
  60% {
    transform: translateY(1.2rem); }
  100% {
    transform: translateY(0); 
  } 
}
@keyframes cloudPop {
  0% {
    transform: scale(0.98) translateY(1.0rem);
  }
  75% {
    transform: scale(1.01) translateY(-0.06rem);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@-webkit-keyframes mesh {
  0% {
    -webkit-transform-origin: 50% -25%;
            transform-origin: 50% -25%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform-origin: 50% -25%;
            transform-origin: 50% -25%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50.00001% {
    -webkit-transform-origin: 50% 125%;
            transform-origin: 50% 125%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 125%;
            transform-origin: 50% 125%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes mesh {
  0% {
    -webkit-transform-origin: 50% -25%;
            transform-origin: 50% -25%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform-origin: 50% -25%;
            transform-origin: 50% -25%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50.00001% {
    -webkit-transform-origin: 50% 125%;
            transform-origin: 50% 125%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 125%;
            transform-origin: 50% 125%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes skeleton {
  to {
    background-position-x: -200%;
  }
}
