@charset "utf-8";

@keyframes itemUp10 {
  0% {
    transform: translateY(1.0rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes itemUp100 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes itemFloat7 {
  0% {
    transform: translateY(0); }
  45% {
    transform: translateY(0.7rem); }
  100% {
    transform: translateY(0); 
  } 
}
@keyframes itemFloat5 {
  0% {
    transform: translateY(0); }
  60% {
    transform: translateY(0.5rem); }
  100% {
    transform: translateY(0); 
  } 
}
