@charset "utf-8";
/* [Font] */
@font-face {
	font-family: 'Spoqa';
	font-style: normal;
	font-weight: 300;
	src: url(/font/hmui/SpoqaHanSansNeo-Light.woff2) format('woff2'),
		url(/font/hmui/NSpoqaHanSansNeo-Light.woff) format('woff'),
		url(/font/hmui/SpoqaHanSansNeo-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Spoqa';
	font-style: normal;
	font-weight: 400;
	src: url(/font/hmui/SpoqaHanSansNeo-Regular.woff2) format('woff2'),
		url(/font/hmui/SpoqaHanSansNeo-Regular.woff) format('woff'),
		url(/font/hmui/SpoqaHanSansNeo-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Spoqa';
	font-style: normal;
	font-weight: 700;
	src: url(/font/hmui/SpoqaHanSansNeo-Bold.woff2) format('woff2'),
		url(/font/hmui/SpoqaHanSansNeo-Bold.woff) format('woff'),
		url(/font/hmui/SpoqaHanSansNeo-Bold.otf) format('opentype');
}

/* [Reset] */
html,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {
  border:0;outline:0;margin:0;padding:0;background:transparent;-webkit-appearance: none;
}
body,button,input,select,table,textarea {
  font-family: 'Spoqa',-apple-system,helvetica,Apple SD Gothic Neo,sans-serif;
  font-size: 1.4rem;
  line-height: normal;
  letter-spacing: -0.05rem;
}
body {
  position: relative;
  -webkit-text-size-adjust: none;
  background-color: #fff;
  color: #252E33;
}
html, body {
  font-size: 10px;
  -webkit-user-select: none;
	-webkit-touch-callout: none;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  text-align: left;
}
fieldset,img {
  border: 0;
}
img{
  max-width: 100%;
  height: auto;
}
ol,ul {
  list-style: none;
}
address,em {
  font-style: normal;
}
input, textarea, select {
  outline: 0;
  border-radius: 0;
  border: 0;
  -webkit-border-radius:0;
  -webkit-appearance: none;
  appearance: none;
}
input[readonly] {
  -webkit-user-select: none;
  user-select: none;
}
textarea {
  resize: none;
}
legend{ 
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
  text-transform: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  display: none;
}
mark {
  background: transparent;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* [Layout] */
body.overflow {
  overflow: hidden;
}
#root {
  position: relative;
  height: 100%;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5.0rem;
  z-index: 100;
}
#header.scrolled .inner_fixed {
  position: relative;
}
#header.scrolled .inner_fixed::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.7);
  z-index: -1;
}
#header h1 {
  padding: 0 4.6rem;
  color: #000;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 5.0rem;
  text-align: center;
}
#header button[class^="btn_ico"] {
  position: absolute;
  top: 1.2rem;
  width: 2.6rem;
  height: 2.6rem;
}
#header .btn_ico_prev {
  left: 2.0rem;
}
#header .btn_ico_menu,
#header .btn_ico_card_header {
  right: 2.2rem;
}
#header.type_white h1 {
  color: #fff;
}
#header.type_white.scrolled h1 {
  color: #000;
}
#header.type_white:not(.scrolled) .btn_ico_menu {
  background-image: url('/images/hmui/btn_menu_w.png');
}
.wrap_contents {

}
.contents {

}
section[data-roll] {
  overflow-x: hidden;
  width: 100vw;
  height:100%;
  padding-top: 5.0rem;
  padding-bottom: 6.0rem;
}
[class^="section_"] {
  padding: 0 2.4rem;
}
.section_form:first-child {
  padding-top: 3.5rem;
}
.section_bottom_fixed {
  position: relative;
  min-height: 6.0rem;
  padding: 0;
}
.iOS .section_bottom_fixed > div {
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.32, 0, 0.68, 1);
}
.fnFixedTop {
  z-index: 101;
}
.fnFixedTop[data-visible-type="hidden"] {
  display: none;
}
.fnFixedTop.scrolled {
  position: fixed;
  top: 5.0rem;
  right: 0;
  left: 0;
}
.fnFixedTop[data-visible-type="hidden"].scrolled {
  display: block;
}

/* [common] */
* {box-sizing: border-box;}

/* Title */
.wrap_tit {
  padding: 3.0rem 2.4rem 0;  
}
.tit_page {
  font-size: 3.2rem;
  font-weight: 300;
  color: #252E33;
}
.tit_page_bold {
  font-size: 3.2rem;
  font-weight: 700;
}
.tit_page em {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}
.tit_sub {
  font-size: 2.4rem;
  line-height: 3.0rem;
}
.tit_sub_bold {
  font-size: 2.4rem;
  line-height: 3.0rem;
  font-weight: 700;
}
.txt_sub {
  margin-top: 0.8rem;
  color: #6E7D85;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.wrap_tit .txt {
  margin-top: 1.0rem;
  color: #323E43;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 300;
}
.wrap_tit .txt_2 {
  color: #323E43;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #6E7D85;
}
.wrap_tit [class^="txt"] em {
  font-weight: 700;
}
.wrap_tit [class^="wrap_btn"] {
  padding-top: 1.0rem;
}

/* Text */
.txt_light {
  font-weight: 300;
}
.txt_default {
  font-weight: 400;
}
.txt_bold {
  font-weight: 700;
}
.txt_num {
  letter-spacing: 0;
}
.txt_cancel {
  text-decoration: line-through;
}
.txt_point_1 {
  color: #13C9BE !important;
}
.txt_point_2 {
  color: #FF5833 !important;
}
.txt_point_3 {
  color: #844883 !important;
}
.txt_point_4 {
  color: #EC4361 !important;
}
[class^="flag_fill"] {
  display: inline-block;
  height: 2.0rem;
  padding: 0 0.9rem;
  border-radius: 1.0rem;
  font-size: 1.2rem;
  line-height: 2.0rem;
}
.flag_fill_gradient {
  background: linear-gradient(98.11deg, #11CDAB -18.09%, #2EBEC1 117.48%);
  color: #fff;
}
.flag_fill_white {
  background-color: #fff;
}
.txt_balloon {
  position: relative;
  display: inline-block;
  padding: 0.4rem 1.3rem;
  border-radius: 1.2rem;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.6rem;
  background: linear-gradient(98.11deg, #11CDAB -18.09%, #2EBEC1 117.48%);
  transform: translateX(1px);
}
.txt_balloon::before {
  content: '';
  position: absolute;
  left: -0.1rem;
  bottom: 0;
  display: inline-block;
  width: 0.84rem;
  height: 0.6rem;
  background: url('/images/hmui/ico_balloon_caret.png') no-repeat 50%;
  background-size: 100%;
}
[class^="flag_terms_"] {
  display: inline-block;
  min-width: 4.2rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.flag_terms_lv1 {background-color: #53BC8A;}
.flag_terms_lv2 {background-color: #81BC53;}
.flag_terms_lv3 {background-color: #E1C52D;}
.flag_terms_lv4 {background-color: #E1792D;}
.flag_terms_lv5 {background-color: #FF4236;}


/* Align */

/* Icon */
[class^="btn_ico"],
[class^="ico_"],
[class^="emoji_"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}
.logo_hanamoney {
  display: inline-block;
  position: absolute;
  top: 1.6rem;
  right: 2.4rem;
  width: 8.6rem;
  height: 1.8rem;
  background: url('/images/hmui/logo_hanamoney.png') no-repeat 50%;
  background-size: 100%;
}
.btn_ico_prev {
  background-image: url('/images/hmui/btn_back.png');
}
.btn_ico_menu {
  background-image: url('/images/hmui/btn_menu.png');
}
.btn_ico_close {
  width: 2.6rem;
  height: 2.6rem;
  background-image: url('/images/hmui/btn_close.png');
}
.btn_ico_card_header {
  background-image: url('/images/hmui/btn_card_header.png');
}
.ico_tooltip {
  width: 2.0rem;
  height: 2.0rem;
  background-image: url('/images/hmui/btn_tooltip.png');
}
.btn_ico_clear {
  width: 1.8rem;
  height: 1.8rem;
  -webkit-tap-highlight-color: transparent;
}
.btn_ico_clear::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #D0D7D7;
  background-image: url('/images/hmui/btn_clear.png');
  background-position: 50%;
  background-size: 100%;
  transform: translate(-50%, -50%);
}
.btn_ico_clear:active::before {
  background-color: #00928F;
}
.btn_ico_download {
  background-image: url('/images/hmui/ico_download.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1.6rem;
}
[class^="ico_arr_"] {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
}
.ico_arr_link {
  background-image: url('/images/hmui/ico_arr_link.png');
}
.ico_arr_link_w {
  background-image: url('/images/hmui/ico_arr_link_w.png');
}
.ico_arr_link_s {
  width: 1.6rem;
  height: 1.6rem;
  background-image: url('/images/hmui/ico_arr_link_s.png');
}
.ico_arr_down {
  width: 2.0rem;
  height: 2.0rem;
  background-image: url('/images/hmui/ico_arr_down.png');
}
.ico_arr_down_2 {
  width: 2.0rem;
  height: 2.0rem;
  background-image: url('/images/hmui/ico_arr_down_2.png');
}
.ico_add {
  width: 1.6rem;
  height: 1.4rem;
  background-image: url('/images/hmui/ico_add.png');
}
[class^="ico_cur_"] {
  width: 3.0rem;
  height: 3.0rem;
}
.ico_cur_hanamoney {
  background-image: url('/images/hmui/ico_cur_hanamoney.png');
}
.ico_cur_usd {
  background-image: url('/images/hmui/ico_cur_usd.png');
}
.ico_cur_jpy {
  background-image: url('/images/hmui/ico_cur_jpy.png');
}
.ico_cur_eur {
  background-image: url('/images/hmui/ico_cur_eur.png');
}
.ico_cur_gbp {
  background-image: url('/images/hmui/ico_cur_gbp.png');
}
.ico_present {
  width: 3.3rem;
  height: 3.5rem;
  background-image: url('/images/hmui/ico_present.png');
}
.ico_notice {
  width: 2.0rem;
  height: 2.0rem;
  background-image: url('/images/hmui/ico_notice.png');
}
.emoji_globe {
  width: 2.8rem;
  height: 2.6rem;
  background-image: url('/images/hmui/emoji_globe.png');
}
.emoji_atm {
  width: 1.7rem;
  height: 2.9rem;
  background-image: url('/images/hmui/emoji_atm.png');
}
.emoji_drone {
  width: 3.8rem;
  height: 3.3rem;
  background-image: url('/images/hmui/emoji_drone.png');
}

/* Checkbox */
.chk,
.chk_round {
  display: inline-block;
}
.chk input,
.chk_round input {
  opacity: 0;
  outline: none;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}
.chk input + label,
.chk_round input + label {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  
}
.chk input + label::before,
.chk input + label::after,
.chk_round input + label::before,
.chk_round input + label::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 2.2rem;
  height: 2.2rem;
  transform: translateY(-50%);
}
.chk input + label::before,
.chk_round input + label::before {
  background-color: #D8E5E4;
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0.25, 0.25, 0.5, 1);
}
.chk input + label::after,
.chk_round input + label::after {
  background-image: url('/images/hmui/ico_chk.png');
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.chk .label {
  display: inline-block;
  padding-left: 3.2rem;
  color: #6E7D85;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.chk input:checked + label::before,
.chk_round input:checked + label::before {
  background-color: #13C9BE;
}
.chk input:checked + label .label {
  color: #252E33;
}
.chk.type_sub label .label {
  color: #849594;
  font-size: 1.5rem;
}
.chk.type_sub input + label::before {
  background-color: transparent;
  transition: none;
}
.chk.type_sub input + label::after {
  background-image: url('/images/hmui/ico_chk_default.png');
}
.chk.type_sub input:checked + label::after {
  background-image: url('/images/hmui/ico_chk_checked.png');
}
.chk.type_sub input:checked + label .label {
  color: #4F5D64;
}
.chk.type_box {
  display: block;
}
.chk.type_box label {
  width: 100%;
  padding: 2.0rem 0 2.0rem 5.2rem;
  border-radius: 1.4rem;
  background-color: #F2F6F6;
}
.chk.type_box label::before,
.chk.type_box label::after {
  left: 2.0rem;
}
.chk.type_box input:checked + label {
  background: linear-gradient(98.11deg, #11CDAB -18.09%, #2EBEC1 117.48%);
  color: #fff;
}
.chk.type_box input:checked + label .label {
  color: #fff;
}
.chk.type_box input:checked + label::before {
  background-color: #00928F;
}
.chk_round label {
  border: 1px solid #E3EBEE;
  border-radius: 2.0rem;
  background-color: #fff;
}
.chk_round label .label {
  padding: 1.0rem 4.0rem 1.0rem 1.3rem; 
  color: #323E43;
  font-size: 1.4rem;
}
.chk_round input + label::before,
.chk_round input + label::after {
  position: absolute;
  top: 50%;
  left: auto;
  right: 0.8rem;
  transform: translateY(-50%);
}
.chk_round input:checked + label {
  border-color: #13C9BE;
}
.chk_round input:checked + label .label {
  color: #13C9BE;
}
.chk_list li {
  margin-top: 1.0rem;
}
.chk_list.type_col {
  display: -webkit-box;
  display: flex;
  -webkit-box-lines: multiple;
  flex-wrap: wrap;
}
.chk_list.type_col li {
  width: 50%;
}

/* Radio */
.box_rdo {
  display: inline-block;
}
.box_rdo input {
  opacity: 0;
  outline: none;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}
.box_rdo label {
  display: inline-block;
  padding: 0.8rem 1.0rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #F3F8FA;
  background-color: #F3F8FA;
  color: #4F5D64;
  font-size: 1.5rem;
  line-height: 2.2rem;
  white-space: nowrap;
}
.box_rdo input:checked + label {
  border-color: #4F5D64;
  background-color: #fff;
  color: #000;
}
.rdo_list {
  display: -webkit-box;
  display: flex;
}
.rdo_list li {
  width: 100%;
  text-align: center;
  background-color: #F3F8FA;
}
.rdo_list li .box_rdo {
  display: block;
}
.rdo_list li .box_rdo label {
  display: block;
}
.rdo_list[class*="type_col"] {
  flex-wrap: wrap;
  margin: -0.2rem;
}
.rdo_list[class*="type_col"] li {
  border-radius: 0.4rem;
  background-color: transparent;
}
.rdo_list[class*="type_col"] .box_rdo {
  margin: 0.2rem;
  width: calc(100% - 0.4rem);
}
.rdo_list.type_col_4 li {
  width: calc(100% / 4);
}
.rdo_list.type_col_3 li {
  width: calc(100% / 3);
}

.box_date {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.4rem;
  padding: 0.7rem 0 0.6rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #D0D7D7;
}
.box_date .btn_sel_date {
  flex: 1;
  height: 2.5rem;
  margin: 0 1.1rem;
}
.box_date .btn_sel_date span {
  display: inline-block;
  color: #323E43;
  font-size: 1.5rem;
}
.box_date .tilde {
  display: inline-block;
  width: 0.9rem;
  text-align: center;
}

/* Switch */
.switch {
  display: inline-block;
  position: relative;
  width: 4.8rem;
  height: 2.4rem;
}
.switch input{
  position: absolute;
  opacity: 0;
}
.switch .slider{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2.6rem;
  background-color: #D0D7D7;
	-webkit-transition:0.2s cubic-bezier(0.24, 0, 0.5, 1);
  transition:0.2s cubic-bezier(0.24, 0, 0.5, 1);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.switch .slider::before{
  content:'';
  display: block;
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  width: 2.0rem;
  height: 2.0rem;
  border-radius: 50%;
  background-color: #fff;
	-webkit-transition: 0.3s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.3s cubic-bezier(0.54, 1.6, 0.5, 1);
}
.switch input:checked + .slider{
  background: linear-gradient(98.11deg, #11CDAB -18.09%, #2EBEC1 117.48%);
}
.switch input:checked + .slider:before{
	-webkit-transform: translateX(2.4rem);
  transform: translateX(2.4rem);
}
.wrap_switch {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
}
.wrap_switch .label {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.0rem;
}

/* Input text */
.inp {
  width: 100%;
  height: 45px;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #D0D4D7;
  font-size: 2.6rem;
  color: #252E33;
}
.inp:focus {
  padding-bottom: 0;
  border-bottom: 2px solid #4F5D64;
}
.inp[type="tel"],
.inp[type="number"] {
  letter-spacing: 0;
}
::placeholder {
  color: #AEBABB;
}
.txt_inp_guide {
  position: relative;
  margin-top: 0.8rem;
  color: #6E7D85;
  font-size: 1.3rem;
}
.txt_inp_guide.type_right {
  text-align: right;
}
.txt_inp_result {
  margin-top: 1.5rem;
  color: #000;
  font-size: 2.0rem;
  line-height: 2.8rem;
  font-weight: 300;
}
.txt_inp_result strong {
  color: #13C9BE;
  font-weight: 700;
}
.wrap_inp {
  position: relative;
}
.box_inp {
  position: relative;
  width: 100%;
}
.box_inp.err .inp {
  border-bottom: 2px solid #EC4361;
}
.box_inp .btn_ico_clear {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 100%;
}
.box_inp.show_btn .btn_ico_clear {
  visibility: visible;
  opacity: 1;
}
.box_inp.hasVal .inp {
  padding-right: 2.8rem;
}
.box_inp.err + .txt_inp_guide {
  padding-left: 17px;
  color: #EC4361;
}
.box_inp.err + .txt_inp_guide::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 1px;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  background: url('/images/hmui/ico_err.png') 50%;
  background-size: 100%;
}
.iOS .box_inp.err + .txt_inp_guide::before {
  top: 2px;
}
.wrap_inp.type_cur {
  
}
.wrap_inp.type_cur .unit {
  position: absolute;
  top: 0.6rem;
  left: 0;
  color: #848F95;
  font-size: 2.6rem;
  line-height: 3.2rem;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.wrap_inp.type_cur .inp {
  transition: padding 0.1s ease-in-out;
}
.wrap_inp.type_cur .box_inp.hasVal .unit {
  opacity: 1;
}
.wrap_inp.type_cur .box_inp.hasVal .inp {
  padding-left: 5.5rem;
}
.wrap_inp.type_cur .box_inp.err + .txt_inp_guide {
  padding-left: 0;
  text-align: left;
}
.wrap_inp.type_cur .box_inp.err + .txt_inp_guide::before {
  display: none;
}

/* Button */
[class^="btn"] {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
a.btn_primary,
button.btn_primary {
  background-color: #13C9BE;
  color: #fff;
}
a.btn_secondery,
button.btn_secondery {
  background-color: #E5EAED;
  color: #848F95;
}
.btn_round {

}
[class^="btn_box"] {
  display: inline-block;
  padding: 1.2rem 1.4rem;
  border-radius: 0.8rem;
  background-color: rgba(0,146,143,0.9);
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.0rem;
  font-weight: 700;
}
.btn_box_sm {
  padding: 0.6rem 1.4rem;
  background-color: #E7FAF9;
  color: #00928F;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.btn_box_big {
  padding: 1.5rem;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 700;
}
[class^="btn_txt"] {
  color: #6E7D85;
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-decoration: underline;
}
[class^="btn_link"] {
  color: #4F5D64;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
[class^="btn_link"] [class^="ico_arr_link"] {
  vertical-align: top;
}
[class^="btn_link"] .ico_arr_link_s {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 0.4rem;
}
[class^="wrap_btn"] {
  position: relative;
  font-size: 0;
}
.wrap_btn.type_full [class^="btn"]:first-child {
  margin-right: 0.4rem;
  width: calc((100% - 0.4rem) * 0.4);
}
.wrap_btn.type_full [class^="btn"]:last-child {
  width: calc((100% - 0.4rem) * 0.6);
}
.wrap_btn.type_full [class^="btn"]:only-child {
  width: 100%;
  margin: 0;
}
.wrap_btn_right {
  text-align: right;
}
.wrap_btn_center {
  text-align: center;
}
.wrap_btn_full {
  display: -webkit-box;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
.wrap_btn_full [class^="btn_full"]:first-child {
  width: 40%;
}
.wrap_btn_full [class^="btn_full"]:last-child {
  width: 60%;
}
.wrap_btn_full [class^="btn_full"]:only-child {
  width: 100%;
}
.wrap_btn_full.type_ico [class^="btn_full"]:first-child {
  width: 6.0rem;
}
.wrap_btn_full.type_ico [class^="btn_full"]:last-child {
  width: calc(100% - 6.0rem);
}
[class^="btn_full"] {
  width: 100%;
  height: 6.0rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 6.0rem;
}
.btn_full_primary {
  background-color: #13C9BE;
  color: #fff;
}
.btn_full_primary.disabled,
.btn_full_primary[disabled] {
  background-color: #EDF4F4;
  color: #D0D7D7;
}
.btn_full_secondary {
  background-color: #E5EAED;
  color: #848F95;
}
.btn_full_secondary.disabled,
.btn_full_secondary[disabled] {
  background-color: #F6F6F6;
  color: #D0D7D7;
}
.wrap_btn_box ul {
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 100%;
}
.wrap_btn_box ul li {
  margin-left: 0.4rem;
  width: 20%;
}
.wrap_btn_box button {
  width: 100%;
  height: 3.2rem;
  border-radius: 0.4rem;
  border: 1px solid #E3EBEE;
  background-color: #fff;
}
.wrap_btn_box button:first-child {
  margin-left: 0;
}
.section_bottom_fixed .wrap_btn_box {
  position: fixed;
  bottom: calc(6rem + 2.2rem);
  right: 0;
  left: 0;
  padding: 0 1.5rem;
}
.section_bottom_fixed .wrap_chk {
  position: fixed;
  right: 0;
  left: 0;
  bottom: calc(6rem + 2.0rem);
  text-align: center;
}
.section_bottom_fixed > .wrap_bubble {
  position: fixed;
  bottom: calc(6rem - 1.8rem);
  right: 0;
  left: 0;
  z-index: 101;
}
.section_bottom_fixed > .wrap_bubble .tooltip_bubble .bubble_caret {

}

/* Table */

/* tab */

/* list */
.list_txt li {
  position: relative;
  margin-top: 0.6rem;
  padding-left: 0.8rem;
  color: #6E7D85;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.list_txt li:first-child {
  margin-top: 0;
}
.list_txt li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.8rem;
  width: 0.2rem;
  height: 0.2rem;
  background-color: #AEBABB;
}
.list_info li {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 0.8rem;
  padding: 0.5rem 0;
  font-size: 0;
}
.list_info li:first-child {
  margin-top: 0;
}
.list_info .tit,
.list_info .txt {
  color: #849594;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.list_info .tit {
  padding-right: 1.0rem;
  text-align: left;
}
.list_info .txt {
  -webkit-box-flex: 1;
  flex: 1;
  text-align: right;
  color: #252E33;
  word-break: break-all;
}
.list_info .txt > span:not([class^="ico_cur"]) {
  display: block;
}
.wrap_list {
  padding: 1.6rem 0;
  border-top: 1px solid #6E7D85;
  border-bottom: 1px solid #EBEBEB;
}
.wrap_list .list_info .txt [class^="ico_cur"] {
  width: 2.0rem;
  height: 2.0rem;
  vertical-align: top;
}
.wrap_link_list li {
  overflow: hidden;
  margin-top: 5px;
}

/* Box */
.wrap_box {
  position: relative;
  display: block;
  width: 100%;
  padding: 2.0rem;
  border-radius: 1.4rem;
  background-color: #F2F6F6;
  text-align: left;
}
.wrap_box.type_gradient {
  background: linear-gradient(98.11deg, #11CDAB -18.09%, #2EBEC1 117.48%);
}
.wrap_box.type_gradient .flag_fill_white {
  color: #00928F;
}
.wrap_box.type_gradient [class^="txt"] {
  color: #fff;
}
.wrap_box.bg_bluegrey {
  border-radius: 1.0rem;
  background: #F3F8FA;
}
.wrap_box.no_arr {
  padding-right: 2.0rem;
}
a.wrap_box {
  padding-right: 4.3rem;
}
a.wrap_box [class^="ico_arr_link"] {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}
button.wrap_box [class^="ico_arr_down"] {
  position: absolute;
  right: 1.9rem;
  bottom: 1.9rem;
}
.wrap_box .txt_bank {
  padding-top: 1.2rem;
  font-size: 2.0rem;
  font-weight: 700;
}
.wrap_box .txt_acc {
  padding-top: 0.6rem;
  color: #6E7D85;
  font-size: 1.6rem;
  letter-spacing: 0;
}
.wrap_box > .tit {
  font-size: 2.2rem;
  font-weight: 300;
}
.wrap_box .tit em {
  font-weight: 700;
}
.wrap_box > .txt {
  font-size: 2.0rem;
  font-weight: 300;
}
a.wrap_box > .txt:first-child {
  padding: 1.0rem 0;
}
.wrap_box .txt_sub {
  color: #6E7D85;
  font-size: 1.4rem;
  font-weight: 400;
}
.wrap_box .txt_sub:first-child {
  margin-top: -0.5rem;
}
.wrap_box .txt_sub .txt_acc {
  font-size: 1.4rem;
  padding-top: 0;
}
.wrap_box .txt_sub + .txt_sub {
  margin-top: 0.8rem;
}
.wrap_box .txt_sub + .tit {
  padding-top: 0.6rem;
}
.wrap_box .list_info li {
  margin-top: -0.2rem;
  padding: 0.5rem 0;
}
.wrap_box.type_bluegrey .list_info .tit {
  color: #4F5D64;
  font-weight: 300;
}

/* message */
.section_prc_complete {
  position: relative;
  padding-top: 6.0rem;
  text-align: center;
}
.section_prc_complete::before {
  content: '';
  display: block;
  width: 6.0rem;
  height: 6.0rem;
  margin: 0 auto 3.2rem;
  border-radius: 50%;
  background: linear-gradient(137.66deg, #19DDB8 16.87%, #D36BD6 84.47%);
}
.section_prc_complete::after {
  content: '';
  display: block;
  position: absolute;
  top: 6.0rem;
  left: calc(50% - 3.0rem);
  width: 6.0rem;
  height: 6.0rem;
  background: url('/images/hmui/ico_complete.png') no-repeat 50%;
  background-size: 100%;
  transform: scale(0);
  will-change: transform;
  animation: complete-animate 0.2s 0.2s ease-in-out forwards;
}
@keyframes complete-animate {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.2);
  }
  95% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.section_prc_complete .txt_complete {
  color: #6E7D85;
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 300;
  text-align: center;
}
.section_prc_complete .txt_complete em {
  font-weight: 700;
}
.section_prc_complete .msg_benefit {
  margin-top: 2.4rem;
}
.section_prc_complete .wrap_list {
  margin-top: 4.0rem;
}
.wrap_layer .section_prc_complete {
  padding-top: 4.0rem;
  padding-bottom: 1.0rem;
}
.wrap_layer .section_prc_complete::before {
  width: 5.4rem;
  height: 5.4rem;
  margin-bottom: 1.8rem;
}
.wrap_layer .section_prc_complete::after {
  top: 4.0rem;
  left: calc(50% - 2.7rem);
  width: 5.4rem;
  height: 5.4rem;
}
.wrap_layer .section_prc_complete .txt_complete {
  font-size: 2.2rem;
  line-height: 3.0rem;
}
.msg_benefit {
  position: relative;
  display: inline-block;
  padding: 0.4rem 1.5rem 0.4rem 5.4rem;
  border-radius: 2.0rem;
  background-color: #F4F1F5;
  color: #844883;
  font-size: 1.6rem;
  line-height: 3.2rem;
}
.msg_benefit .ico_present {
  position: absolute;
  top: -0.3rem;
  left: 1.5rem;
}

/* Layer pop */
.dim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  z-index: 101;
  will-change: opacity;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.wrap_layer {
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  will-change: visibility;
  -webkit-transition: visibility 0.3s;
  transition: visibility 0.3s;
}
.wrap_layer .inner_layer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 102;
  border-radius: 2.4rem 2.4rem 0 0;
  background-color: #fff;
  will-change: transform;
  -webkit-transform: translate3d(0px,100%,0px);
  transform: translate3d(0px,100%,0px);
  transition: transform 0.4s cubic-bezier(0.12, 0.86, 0.21, 1);
}
.wrap_layer .head_layer {
  position: relative;
  height: 5.4rem;
}
.wrap_layer .head_layer .tit_layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 3.0rem 5.5rem 0;
  font-size: 2.0rem;
  line-height: 2.4rem;
  font-weight: 700;
  text-align: center;
}
.wrap_layer .content_layer {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 3.0rem;
  max-height: calc(54rem - 5.4rem);
}
.wrap_layer:not(.type_full).hasFixedBtn .content_layer {
  max-height: calc(54rem - 5.4rem - 6.0rem);
}
.wrap_layer .btn_ico_close {
  position: absolute;
  top: 2.8rem;
  right: 2.0rem;
  z-index: 100;
}
.wrap_layer.type_full.show .inner_layer  {
  top: 0;
}
.wrap_layer.type_full .inner_layer {
  border-radius: 0;
}
.wrap_layer.type_full .head_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 5.0rem;
}
.wrap_layer.type_full .head_layer.scrolled::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.7);
  z-index: -1;
}
.wrap_layer.type_full .head_layer .tit_layer {
  padding: 0 4.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 5.0rem;
}
.wrap_layer.type_full .content_layer {
  height: 100%;
  max-height: 100vh;
  padding-top: 5.0rem;
  padding-bottom: 6.0rem;
}
.wrap_layer.type_full .section_bottom_fixed {
  position: absolute;
  min-height: auto;
}
.wrap_layer.type_full.hasFixedBtn .content_layer {
  padding-bottom: 12.0rem;
}
.wrap_layer.type_full .btn_ico_close {
  top: 1.2rem;
}
.wrap_layer.type_alert .inner_layer {
  overflow: hidden;
  right: 2.4rem;
  left: 2.4rem;
  border-radius: 1.4rem;
}
.wrap_layer.type_alert .content_layer {
  padding: 2.0rem 2.0rem;
}
.wrap_layer.type_alert .txt_alert {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
}
.section_button_alert {
  padding: 0;
}
.section_button_alert .wrap_btn_full {
  position: relative;
  padding: 0;
}
.section_button_alert .wrap_btn_full [class^="btn_full"] {
  height: 5.4rem;
  line-height: 5.4rem;
}
.wrap_layer.show {
  visibility: visible;
  opacity: 1;
}
.wrap_layer.show .dim {
  opacity: 0.4;
}
.wrap_layer.show .inner_layer {
  -webkit-transform: translate3d(0px, 0%, 0px);
  transform: translate3d(0px, 0%, 0px);
}
.wrap_layer.type_alert.show .inner_layer {
  bottom: 50%;
  -webkit-transform: translate3d(0px, 50%, 0px);
  transform: translate3d(0px, 50%, 0px);
}

/* Alert */

/* Toast */
.wrap_toast {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 500;
  width: calc(100vw - 4.8rem);
  margin: 0 2.4rem;
  padding: 1.6rem 2.0rem;
  border-radius: 1.4rem;
  background-color: rgba(37,46,51,0.9);
  will-change: transform;
  -webkit-transform: translate3d(0px,100%,0px);
  transform: translate3d(0px,100%,0px);
  transition: transform 0.3s cubic-bezier(0.12, 0.86, 0.21, 1);
}
.wrap_toast.show {
  -webkit-transform: translate3d(0px,-4.0rem,0px);
  transform: translate3d(0px,-4.0rem,0px);
}
.wrap_toast {
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.0rem;
}

/* Tooltip */
.wrap_tooltip {
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  position: absolute;
  z-index: 10;
  width: auto;
  min-width: 15.0rem;
  max-width: 75.556vw;
  border-radius: 0.6rem;
  border: 1px solid #6E7D85;
  background-color: #fff;
  will-change: opacity;
  -webkit-box-shadow: 2px 8px 7px 0px rgba(0,0,0,0.2); 
  box-shadow: 2px 8px 7px 0px rgba(0,0,0,0.2);
  transition: opacity 0.2s ease-in-out;
}
.wrap_tooltip.show {
  visibility: visible;
  opacity: 1;
}
.wrap_tooltip .inner_tooltip {
  padding: 1.6rem 3.8rem 1.6rem 1.4rem;
}
.wrap_tooltip .tit_tooltip {
  padding-bottom: 1.0rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
}
.wrap_tooltip .txt_tooltip {
  color: #6E7D85;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.wrap_tooltip .txt_tooltip em {
  color: #252E33;
}
.wrap_tooltip .btn_ico_close {
  position: absolute;
  top: 1.6rem;
  right: 1.0rem;
  width: 1.8rem;
  height: 1.8rem;
}

/* Bubble */
.tooltip_bubble {
  position: absolute;
  top: -3.9rem;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
}
.tooltip_bubble.right {
  right: 0;
  left: auto;
  transform: none;
}
.tooltip_bubble p {
  padding: 0.5rem 1.2rem 0.6rem;
  border-radius: 1.2rem;
  background-color: #6E7D85;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.tooltip_bubble p em {
  font-weight: 700;
}
.tooltip_bubble .bubble_caret {
  position: absolute;
  bottom: -0.7rem;
  left: 50%;
  display: inline-block;
  width: 0;
	height: 0;
	border-width: 0.7rem 0.5rem 0 0.5rem;
	border-color: #6E7D85 transparent transparent transparent;
	border-style: solid;
  line-height: 1;
  transform: translateX(-50%);
}

/* [common contents style] */
/* 상단비주얼 */
.section_top_visual {
  position: relative;
  margin-top: -5.0rem;
  padding: 5.0rem 0 0;
}
.section_top_visual > * {
  z-index: 2;
}
.section_top_visual .wrap_btn.type_full {
  padding: 3.0rem 2.4rem;
}

/* 약관동의 */
.section_terms {
  padding-top: 3.0rem
}
.wrap_chk_all .chk label {
  padding: 2.0rem 0;
}
.wrap_chk_all .chk label .label {
  font-size: 2.0rem;
  line-height: 2.6rem;
  font-weight: 700;
}
.wrap_agree_list .box_chk {
  display: -webkit-box;
  display: flex;
  align-items: center;
  padding: 1.0rem 0;
}
.wrap_agree_list .box_chk .chk {
  position: relative;
}
.wrap_agree_list .box_chk .chk label {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1.0rem;
  vertical-align: text-bottom;
}
.wrap_agree_list .box_chk .btn_txt {
  flex: 1;
  position: relative;
  color: #6E7D85;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: left;
} 
.wrap_agree_list .box_chk [class^="flag_terms_"] {
  margin-left: 1.0rem;
}
.wrap_agree_list .box_chk .btn_acco {
  margin-left: 1.0rem;
  will-change: transform;
}
.section_terms .box_chk .btn_acco.on {
  transform: rotate(-180deg);
}
.section_terms .wrap_acco {
  display: none;
  padding-left: 3.2rem;
}
.section_terms .wrap_acco .txt {
  color: #4F5D64;
  font-size: 1.5rem;
  line-height: 2.2rem;
  word-break: keep-all;
}
.section_terms .wrap_acco .txt:first-child {
  margin-top: 0.4rem;
}
.section_terms .wrap_acco .txt + .chk_list {
  margin-top: 0.3rem;
}

/* 폼 그룹 */
.section_form {

}
.section_form .head_form {
  position: relative;
  padding-bottom: 0.8rem;
}
.section_form .tit_form {
  color: #252E33;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
}
.section_form > [class^="wrap_"] {
  margin-top: 2.4rem;
}
.section_form > [class^="wrap_"]:first-child {
  margin-top: 0;
}
.wrap_layer:not(.type_full) .section_form:first-child {
  padding-top: 0;
}

/* 환율정보 */
.wrap_info_exchange {
  height: 6.5rem;
  padding: 3.0rem 2.4rem 1.5rem;
}
.wrap_info_exchange .btn_tooltip {
  vertical-align: top;
  height: 2.0rem;
}
.wrap_info_exchange .btn_tooltip .ico_tooltip {
  vertical-align: top;
}
.wrap_info_exchange .txt_info {
  display: inline-block;
  margin-right: 0.5rem;
  color: #000;
  font-size: 1.5rem;
  line-height: 2.0rem;
  vertical-align: top;
}
.wrap_info_exchange .ico_cur_usd {
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: top;
}
.wrap_info_exchange .txt_balloon {
  display: inline-block;
  margin-left: 5px;
  bottom: 8px;
}

/* 링크 리스트 */
.wrap_link_list li:first-child {
  margin-top: 0;
}
.wrap_link_list li a {
  position: relative;
  display: block;
  width: 100%;
  min-height: 6.0rem;
  padding: 1.8rem 4.3rem 1.9rem 2.0rem;
  border-radius: 1.4rem;
  -webkit-tap-highlight-color: transparent;
}
.wrap_link_list li a:not(.wrap_box) {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 2.2rem;
}
.wrap_link_list a .ico_arr_link {
  position: absolute;
  right: 1.5rem;
}
.wrap_link_list li a.active {
  background-color: rgba(243,248,250,1);
}
.wrap_link_list .txt {
  font-size: 1.8rem;
}
.wrap_link_list [class^="ico_"] + .txt {
  padding-left: 1.0rem;
}
.wrap_line_list li {
  border-bottom: 1px solid #E3EBEE;
}
.wrap_line_list li button {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 2.0rem 0;
}
.wrap_line_list li .txt {
  color: #000;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.wrap_line_list [class^="ico_"] + .txt {
  padding-left: 1.0rem;
}

/* 박스형 리스트 */
.wrap_box_list li {
  margin-top: 1.0rem;
}
.wrap_box_list li:first-child {
  margin-top: 0;
}
.wrap_box_list .wrap_box.hasBtn {
  padding-right: 5.5rem;
}
.wrap_box_list .wrap_box.hasBtn .wrap_switch {
  margin-right: -3.5rem;
}
.wrap_box_list .btn_txt {
  position: absolute;
  right: 2.1rem;
  bottom: 1.7rem;
}
.wrap_box_list .item_desc {
  padding-top: 2.0rem;
}
.wrap_box_list .item_desc .txt_desc {
  color: #6E7D85;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.wrap_box_list .item_desc .txt_desc em {
  color: #252E33;
  font-weight: bold;
}
.wrap_box_list .chk.type_box label {
  flex-wrap: wrap;
}
.wrap_box_list .chk.type_box .txt_bank {
  font-size: 2.0rem;
  line-height: 2.6rem;
  font-weight: 700;
}
.wrap_box_list .chk.type_box .txt_acc {
  width: 100%;
  padding-top: 0.2rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.btn_acc_add {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-left: 2.6rem;
}
.btn_acc_add .ico_add {
  position: absolute;
  top: 50%;
  left: 2.0rem;
  transform: translateY(-50%);
}
.btn_acc_add .txt_bank {
  padding-top: 0;
}
.btn_acc_add .txt_sub {
  color: #4F5D64;
  font-size: 1.5rem;
  margin-top: 0;
}
.wrap_box_list + .wrap_btn_right {
  padding-top: 1.7rem;
}
.section_acc_list .btn_txt {
  font-size: 1.5rem;
}

/* 혜택 리스트 */
.wrap_item_benefit {
  padding: 3.0rem 2.4rem 4.0rem;
  background-color: #fff;
}
.wrap_item_benefit:last-child {
  margin-bottom: -4.0rem;
}
.wrap_item_benefit .tit_wrap {
  margin-bottom: 2.4rem;
  color: #252E33;
  font-size: 2.4rem;
  line-height: 3.0rem;
  font-weight: 700;
}
.list_benefit {
  padding-bottom: 4.0rem;
}
.list_benefit:first-child {
  padding-top: 3.2rem;
}
.list_benefit li {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
  margin-top: 2.5rem;
}
.list_benefit li:first-child {
  margin-top: 0;
}
.list_benefit li .box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 1.6rem;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 1.4rem;
  background-color: #EDF4F4;
}
.list_benefit li .box span {
  color: #000;
  font-size: 2.4rem;
  line-height: 3.0rem;
  font-weight: 700;
}
.list_benefit li .item_desc {
  width: calc(100% - 5.8rem);
  padding-top: 0.5rem;
}
.list_benefit li .item_desc .tit {
  color: #000;
  font-size: 2.0rem;
  line-height: 2.6rem;
  font-weight: 700;
}
.list_benefit li .item_desc .txt {
  margin-top: 0.6rem;
  color: #6E7D85;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.list_benefit li .item_desc .txt em {
  display: inline-block;
  font-weight: 700;
}
.list_benefit li .item_desc [class^="emoji_"] {
  vertical-align: top;
}
.wrap_item_benefit .wrap_btn_center {
  /* margin-bottom: 4.0rem; */
}
.wrap_item_benefit li,
.wrap_item_benefit .tit_wrap {
  will-change: transform, opacity;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.4s ease-in-out;
}
.wrap_item_benefit li.transform,
.wrap_item_benefit .tit_wrap.transform {
  opacity: 1;
  transform: translateY(0);
}

/* 유의사항 */
.wrap_notice {
  margin-bottom: -6.0rem;
  padding: 3.2rem 2.4rem 5.6rem;
  background-color: #F3F8FA;
}
.wrap_notice .tit_notice {
  margin-bottom: 1.4rem;
  color: #4F5D64;
  font-size: 1.4rem;
  line-height: 2.0rem;
  font-weight: 700;
}
.wrap_notice .tit_notice .ico_notice {
  margin-right: 0.6rem;
  vertical-align: top;
}

/* 배너영역 */
.wrap_banner {
  position: relative;
  padding-top: 5.0rem;
}
.wrap_banner .txt_sub {
  font-size: 1.4rem;
  line-height: 2.0rem;
}
.wrap_banner .txt_sub:first-child {
  margin-top: 0;
}
.wrap_banner .txt_sub + .tit {
  margin-top: 0.8rem;
}
.wrap_banner .tit {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
}
.wrap_banner .btn_txt {
  margin-top: 0.8rem;
  font-size: 1.5rem;
}

/* 조회 리스트 */
.section_list_trans {
  padding: 0;
}
.trans_info {

}
.trans_info .tit {
  display: block;
  color: #4F5D64;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 700;
}
.trans_info .desc {
  display: block;
  color: #6E7D85;
  font-size: 1.4rem;
  line-height: 2.0rem;
}
.trans_info .txt_amount {
  display: block;
  color: #252E33;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 700;
  white-space: nowrap;
}
.txt_amount.add {
  color: #13C9BE;
}
.wrap_list_trans + .wrap_list_trans {
  margin-top: 4.0rem;
}
.wrap_list_trans .tit_divider {
  margin-bottom: 2.4rem;
  padding: 0.8rem 2.4rem;
  background-color: #F3F8FA;
  color: #849594;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 700;
}
.wrap_list_trans .trans_info {
  padding: 0 2.4rem;
}
.wrap_list_trans .trans_info + .trans_info {
  margin-top: 3.0rem;
}
.wrap_list_trans .trans_info > h4 {
  
}
.wrap_list_trans .trans_info > ul > li {
  padding-right: 1.6rem;
} 
.wrap_list_trans .trans_info .row {
  display: flex;
  justify-content: space-between;
}

/* 조회 상세 */
.section_detail_trans {
  padding-top: 2.5rem;
  text-align: center;
}
.section_detail_trans .fnFixedTop.scrolled {
  display: flex;
  align-items: center;
  height: 5.0rem;
  padding: 0 2.4rem;
}
.section_detail_trans .fnFixedTop.scrolled .txt_type {
  display: inline-block;
  margin-right: 1.2rem;
  padding-bottom: 0;
}
.section_detail_trans .fnFixedTop.scrolled .txt_amount {
  display: inline-block;
  font-size: 2.0rem;
  line-height: 2.6rem;
}
.wrap_top_info {
  text-align: left;
}
.wrap_top_info .txt_type {
  display: block;
  color: #4F5D64;
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding-bottom: 0.4rem;
}
.wrap_top_info .txt_amount {
  font-size: 2.8rem;
  line-height: 3.6rem;
  font-weight: 700;
}
.wrap_top_info .trans_info {
  margin-top: 1.6rem;
}
.wrap_top_info + .msg_benefit {
  margin-top: 2.4rem;
}
.section_detail_trans .wrap_list {
  margin-top: 4.0rem;
}

/* 돈통 */
.section_moneybag {
  padding: 0;
  margin-top: -5.0rem;
  padding-top: 5.0rem;
  background-color: pink;
}

/* Space */
.wrap_box + .wrap_tit {
  padding-top: 1.4rem;
}
.wrap_layer .content_layer .wrap_box {
  width: calc(100vw - 4.8rem);
  margin: 2.4rem auto 0;
}

/* 캐릭터 이미지 */
.img_character_aero {
  display: inline-block;
  width: 41.11vw;
  height: 54.44vw;
  background: url('/images/hmui/character/img_character_aero.png') no-repeat 50%;
  background-size: 100%;
}
[class^="img_cloud"] {
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}
.img_cloud1 {
  bottom: 17.6vw;
  left: 0;
  width: 15.76vw;
  height: 9.03vw;
  background-image: url('/images/hmui/character/visual_usr_cloud1.png');
}
.img_cloud2 {
  top: 13.33vw;
  right: 0;
  width: 30.05vw;
  height: 15.94vw;
  background-image: url('/images/hmui/character/visual_usr_cloud2.png');
}

@supports ((-webkit-backdrop-filter:none) or (backdrop-filter:none)) {
  #header.scrolled .inner_fixed::after {
    background-color: rgba(255,255,255, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
  .wrap_layer.type_full .head_layer.scrolled::after {
    background-color: rgba(255,255,255, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}